<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
	<TITLE>Bollywood Movies: TAG_PAGE_SPECIFIC_TITLE</TITLE>
    <META NAME="keywords" CONTENT="bollywood movies, resources, link exchange, TAG_PAGE_KEYWORDS_META">
	<META NAME="description" CONTENT="TAG_PAGE_DESCRIPTION_META">
	<META NAME="robots" CONTENT="index,follow">
	<META CONTENT="all" NAME="robots">
</head>

<link rel=stylesheet type="text/css" href="http://www.bollywoodmovies.us/css/bollywoodmovies.css">
<body bgcolor="#FFFFFF" text="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" link="#0000FF" vlink="#551a8b" alink="#990099">

<!-- TOP START -->

<center>
<table border="1" cellspacing="0" cellpadding="0" bordercolor="white" id="Header Table">

<tr>
       <td width=150>
		   <A HREF="http://www.bollywoodmovies.us">
	   	   <IMG SRC="http://www.bollywoodmovies.us/images/bollywoodmovies_icon.jpg" 
		   ALT="Bollywood Movies News"
		   TITLE="Bollywood Movies News"
		   WIDTH="150" HEIGHT="75" BORDER="0"></A>
	   </td>
	   
       <td width=450 bordercolor="orange">
	   
	   <table bgcolor="white" border="0" cellspacing="0" cellpadding="0" bordercolor="orange">
	   <tr>
	   <td width=150 valign="top">
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us" 
	       TITLE="Bollywood Movies News, Picture Gallery">Home
         </A>
<br>
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/blog/index.html" 
	       TITLE="Bollywood Movies Blog">Blog
         </A>
<br>
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/news/news.html" 
	       TITLE="Bollywood Movies News">News
         </A>
<br>
 	     <A 
	       ALT="" 
		   TITLE="Bollywood Movies Feedback"
	       HREF="mailto:info@bollywoodmovies.us?subject=FEEDBACK: ">Feedback
         </A>
       </td>
	   <td width=150 valign="top">
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/actress/bollywood_actress.html" 
	       TITLE="Bollywood Movies Actresses, Biography, News, Picture Gallery, Indian, Hindi">Actresses
         </A>
<br>		 
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/actor/bollywood_actor.html" 
	       TITLE="Bollywood Movies Actor, Biography, News, Picture Gallery, Indian, Hindi">Actor
         </A>
<br>		 
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/movie_reviews/bollywood_movie_reviews.html" 
	       TITLE="Bollywood Latest and Forthcoming Movies Reviews">Movie Review
         </A>
<br>		 
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/movie_reviews/2006_bollywood_movies_releases_forthcoming.html" 
	       TITLE="Bollywood Movie Releases and Forthcoming for 2006">2006 Releases
         </A>
	   </td>
	   <td width=150 valign="top">
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/indian_idol/season_3/indian_idol.html" 
	       TITLE="TV Show Indian Idol 3 Latest News">Indian Idol 3
         </A>
<br>		 
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/contact_us.html" 
	       TITLE="Bollywood Movies Contact Us">Contact Us
         </A>
<br>		 
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/resources/resources.html" 
	       TITLE="Bollywood Movies Resources">Resources
         </A>
<br>		 
		  <a href="http://feeds.feedburner.com/BollywoodMovieNews" 
			 title="Subscribe to my feed, Bollywood Movie News, Latest Movie Releases" 
			 rel="alternate" type="application/rss+xml">
			 <img src="http://www.feedburner.com/fb/images/pub/feed-icon16x16.png" alt="" style="border:0"/>
		  </a>
	   </td>
	   </tr>
	   </table>		   

	   </td>
       <td width=300 valign="center" align="center" bordercolor="orange">
<!-- SiteSearch Google -->
<!-- SiteSearch Google -->
<form method="get" action="http://www.google.com/custom" target="_top">
<table border="0" bgcolor="#ffffff">
<tr><td nowrap="nowrap" valign="top" align="left" height="32">
<a href="http://www.google.com/">
<img src="http://www.google.com/logos/Logo_25wht.gif" border="0" alt="Google" align="middle"></img></a>
<br/>
<input type="hidden" name="domains" value="www.bollywoodmovies.us"></input>
<input type="text" name="q" size="31" maxlength="255" value=""></input>
<input type="submit" name="sa" value="Search"></input>
</td></tr>
<tr>
<td nowrap="nowrap">
<table>
<tr>
<td>
<input type="radio" name="sitesearch" value=""></input>
<font size="-1" color="black">Web</font>
</td>
<td>
<input type="radio" name="sitesearch" value="www.bollywoodmovies.us" checked="checked"></input>
<font size="-1" color="black">www.bollywoodmovies.us</font>
</td>
</tr>
</table>
<input type="hidden" name="client" value="pub-1819491998461859"></input>
<input type="hidden" name="forid" value="1"></input>
<input type="hidden" name="channel" value="9628527609"></input>
<input type="hidden" name="ie" value="ISO-8859-1"></input>
<input type="hidden" name="oe" value="ISO-8859-1"></input>
<input type="hidden" name="safe" value="active"></input>
<input type="hidden" name="cof" value="GALT:#008000;GL:1;DIV:#336699;VLC:663399;AH:center;BGC:FFFFFF;LBGC:336699;ALC:0000FF;LC:0000FF;T:000000;GFNT:0000FF;GIMP:0000FF;FORID:1;"></input>
<input type="hidden" name="hl" value="en"></input>
</td></tr></table>
</form>
<!-- SiteSearch Google -->
<!-- SiteSearch Google -->
	   </td>
</tr>

<tr>
       <td width=775 colspan=3>
<!-- Main Menu -->

	   </td>
</tr>

<tr>
       <td width=775 height=25 colspan=3>
	   <!-- Dynamic Menu Cover up this -->
	   </td>
</tr>

</table>
<!-- TOP END -->



<!-- TABLE_START_1 -->
<table width=900 cellspacing="0" border="1" bordercolor="orange" id="TBL_HEADER_1">

<tr>
    <td width=900 colspan=3 align="center" bgcolor="#f8f8ff">
<!-- Google H1 Banner -->
<script type="text/javascript"><!--
google_ad_client = "pub-1819491998461859";
google_ad_width = 728;
google_ad_height = 90;
google_ad_format = "728x90_as";
google_ad_type = "text_image";
google_ad_channel ="TAG_GOOGLE_H1_BANNER";
google_color_border = "FFFFFF";
google_color_bg = "f8f8ff";
google_color_link = "0000FF";
google_color_url = "008000";
google_color_text = "000000";
//--></script>
<script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
	</td>
</tr>

</table>	
<!-- TABLE_END_1 -->


<!-- MIDDLE_START -->
<table width=900 align="center" cellspacing="0" border="1" bordercolor="white" id="Middle Table">

<tr>
  <td width=900 height=30 colspan=2 cellspacing="0" align="center" valign="top" bgcolor="white" BORDERCOLOR="white">
    <b>TAG_PAGE_CATOGERY_NAME</b>
  </td>
</tr>

  <!-- REVIEW_START -->
  <TR>
    <TD WIDTH=120 VALIGN="top" ALIGN="left" BORDER="1" BORDERCOLOR="white">
	   <!-- Google Vertical Adlinks -->
<script type="text/javascript"><!--
google_ad_client = "pub-1819491998461859";
google_ad_width = 120;
google_ad_height = 90;
google_ad_format = "120x90_0ads_al_s";
google_ad_channel ="TAG_GOOGLE_ADLINKS";
google_color_border = "eeee00";
google_color_bg = "eeee00";
google_color_link = "0000FF";
google_color_url = "0000FF";
google_color_text = "0000FF";
//--></script>
<script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
	</TD>
	
	<TD WIDTH=780 VALIGN="top" ALIGN="left" BORDER="1" BORDERCOLOR="white" bgcolor="white">
	<table>
	<tr>
	<td WIDTH=480 VALIGN="top">
		TAG_PAGE_DESCRIPTION
	</td>
	
	<td HEIGHT="300">
<!-- Google Med Square Banner -->
<script type="text/javascript"><!--
google_ad_client = "pub-1819491998461859";
google_ad_width = 300;
google_ad_height = 250;
google_ad_format = "300x250_as";
google_ad_type = "text_image";
google_ad_channel ="TAG_GOOGLE_MED_BANNER";
google_color_border = "FFFFFF";
google_color_bg = "f8f8ff";
google_color_link = "0000FF";
google_color_url = "008000";
google_color_text = "000000";
//--></script>
<script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
	</td WIDTH=300>

	</tr>
	</table>
	
	</TD>
  </TR>
  <!-- REVIEW_END --> 
  
  
  <!-- CHITIKA_ADS_START -->
  <TR>
    <TD WIDTH=120 HEIGHT=20 VALIGN="top" ALIGN="left" BORDER="1" BORDERCOLOR="white">
	  <b>Ads</b>
	</TD>
	
	<TD WIDTH=780 VALIGN="top" ALIGN="left" BORDER="1" BORDERCOLOR="white" bgcolor="white">
	   <!-- Chitkia -->
<script type="text/javascript"><!--
ch_client = "mmbuyallgifts";
ch_width = 728;
ch_height = 90;
ch_color_border = "#cccccc";
ch_sid = "bm_moviereviews_h2_long_banner";
ch_non_contextual = 1;
ch_default_category = "200001";
var ch_queries = new Array( );
var ch_selected=Math.floor((Math.random()*ch_queries.length));
ch_query = ch_queries[ch_selected];
//--></script>
<script  src="http://scripts.chitika.net/eminimalls/mm.js" type="text/javascript">
</script>
	</TD>
  </TR>
  <!-- CHITIKA_ADS_END -->
  

<!-- Google H1 Banner Start -->
  <TR>
	<TD WIDTH=900 VALIGN="top" ALIGN="center" BORDER="1" BORDERCOLOR="orange" bgcolor="#f8f8ff" colspan=2>
<script type="text/javascript"><!--
google_ad_client = "pub-1819491998461859";
google_ad_width = 728;
google_ad_height = 90;
google_ad_format = "728x90_as";
google_ad_type = "text_image";
google_ad_channel ="TAG_GOOGLE_H2_BANNER";
google_color_border = "FFFFFF";
google_color_bg = "f8f8ff";
google_color_link = "0000FF";
google_color_url = "008000";
google_color_text = "000000";
//--></script>
<script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
	</TD>
  </TR>
<!-- Google H1 Banner End -->

</table>	
<!-- MIDDLE_END -->

<p></p>

<!-- MIDDLE START 2 -->
<table width=900 align="center" cellspacing="0" border="1" bordercolor="orange" id="Middle Table 2">

<tr WIDTH="650" border="1" cellspacing="0" cellpadding="0" bgcolor="#FFEECC" bordercolor="blue">
    <TD VALIGN="top" HEIGHT="25" WIDTH="650">
		<strong><font color="blue">TAG_PAGE_MAIN_HEADING_1</font></strong>
    </td>
</tr>

<tr>
    <TD WIDTH="650" ALIGN="left" VALIGN="center" bgcolor="#FFFFFF" bordercolor="red">
<table>
  <tr>
    <td WIDTH="75" ALIGN="left">
	  <A 
	     ALT="" 
	     TITLE="TAG_TITLE_TEXT_HOME"
		 HREF="TAG_LINK_TEXT_HOME">Home
      </A>
    </td>
    <td WIDTH="425" ALIGN="left">
	  <A 
	     ALT="" 
	     TITLE="TAG_TITLE_TEXT_PAGE_CATOGERY_NAME"
		 HREF="TAG_LINK_PAGE_CATOGERY_NAME">TAG_PAGE_CATOGERY_NAME
      </A>
    </td>
    <td WIDTH="75" ALIGN="left">
	  <A 
	     ALT="" 
	     TITLE="TAG_PREV_TITLE_TEXT"
		 HREF="TAG_PREV_PAGE_LINK">Prev Page
      </A>
    </td>
    <td WIDTH="75" ALIGN="right">
	  <A 
	     ALT="" 
	     TITLE="TAG_NEXT_TITLE_TEXT"
		 HREF="TAG_NEXT_PAGE_LINK">Next Page
      </A>
    </td>
  </tr>
</table>	
    </TD>
</tr>

<tr WIDTH="650" border="1" cellspacing="0" cellpadding="0" bordercolor="blue">
    <TD VALIGN="top" ALIGN="left" HEIGHT="25" WIDTH="650">
		<!-- Chitika Ads -->
<script type="text/javascript"><!--
ch_client = "mmbuyallgifts";
ch_type = "mpu";
ch_width = 468;
ch_height = 180;
ch_non_contextual = 1;
ch_default_category = "200001";
ch_sid = "bag_resources";
var ch_queries = new Array( );
var ch_selected=Math.floor((Math.random()*ch_queries.length));
if ( ch_selected < ch_queries.length ) {
ch_query = ch_queries[ch_selected];
}
//--></script>
<script  src="http://scripts.chitika.net/eminimalls/mm.js" type="text/javascript">
</script>
    </td>
</tr>

<tr WIDTH="650" border="1" cellspacing="0" cellpadding="0" bordercolor="blue">
    <TD VALIGN="center" ALIGN="left" HEIGHT="25" WIDTH="650">
<a href="http://click.linksynergy.com/fs-bin/stat?id=47rbYexFe24&offerid=7097.2299&subid=0&type=4" target="new"><IMG border="0"   alt="LinkShare  Referral  Prg" src="http://ad.linksynergy.com/fs-bin/show?id=47rbYexFe24&bids=7097.2299&subid=0&type=4&gridnum=1"></a>
    </td>
</tr>

<tr WIDTH="650" border="1" cellspacing="0" cellpadding="0" bordercolor="blue">
    <TD VALIGN="center" ALIGN="center" HEIGHT="25" WIDTH="650">

    </td>
</tr>

<tr WIDTH="650" border="1" cellspacing="0" cellpadding="0" bordercolor="blue">
    <TD VALIGN="center" ALIGN="center" HEIGHT="25" WIDTH="650">

    </td>
</tr>

<tr WIDTH="650" border="1" cellspacing="0" cellpadding="0" bordercolor="blue">
    <TD VALIGN="center" ALIGN="center" HEIGHT="25" WIDTH="650">

    </td>
</tr>

<tr WIDTH="650" border="1" cellspacing="0" cellpadding="0" bordercolor="blue">
    <TD VALIGN="top" HEIGHT="25" WIDTH="650">
	TAG_PARTNER_LINK_01
    </td>
</tr>

<tr WIDTH="650" border="1" cellspacing="0" cellpadding="0" bordercolor="blue">
    <TD VALIGN="top" HEIGHT="25" WIDTH="650">
	TAG_PARTNER_LINK_02
    </td>
</tr>

<tr WIDTH="650" border="1" cellspacing="0" cellpadding="0" bordercolor="blue">
    <TD VALIGN="top" HEIGHT="25" WIDTH="650">
	TAG_PARTNER_LINK_03
    </td>
</tr>

<tr WIDTH="650" border="1" cellspacing="0" cellpadding="0" bordercolor="blue">
    <TD VALIGN="top" HEIGHT="25" WIDTH="650">
	TAG_PARTNER_LINK_04
    </td>
</tr>

<tr WIDTH="650" border="1" cellspacing="0" cellpadding="0" bordercolor="blue">
    <TD VALIGN="top" HEIGHT="25" WIDTH="650">
	TAG_PARTNER_LINK_05
    </td>
</tr>

<tr WIDTH="650" border="1" cellspacing="0" cellpadding="0" bordercolor="blue">
    <TD VALIGN="top" HEIGHT="25" WIDTH="650">
	TAG_PARTNER_LINK_06
    </td>
</tr>

<tr WIDTH="650" border="1" cellspacing="0" cellpadding="0" bordercolor="blue">
    <TD VALIGN="top" HEIGHT="25" WIDTH="650">
	TAG_PARTNER_LINK_07
    </td>
</tr>

<tr WIDTH="650" border="1" cellspacing="0" cellpadding="0" bordercolor="blue">
    <TD VALIGN="top" HEIGHT="25" WIDTH="650">
	TAG_PARTNER_LINK_08
    </td>
</tr>

<tr WIDTH="650" border="1" cellspacing="0" cellpadding="0" bordercolor="blue">
    <TD VALIGN="top" HEIGHT="25" WIDTH="650">
	TAG_PARTNER_LINK_09
    </td>
</tr>

<tr WIDTH="650" border="1" cellspacing="0" cellpadding="0" bordercolor="blue">
    <TD VALIGN="top" HEIGHT="25" WIDTH="650">
	TAG_PARTNER_LINK_10
    </td>
</tr>

<tr WIDTH="650" border="1" cellspacing="0" cellpadding="0" bordercolor="blue">
    <TD VALIGN="top" HEIGHT="25" WIDTH="650">
	TAG_PARTNER_LINK_11
    </td>
</tr>

<tr WIDTH="650" border="1" cellspacing="0" cellpadding="0" bordercolor="blue">
    <TD VALIGN="top" HEIGHT="25" WIDTH="650">
	TAG_PARTNER_LINK_12
    </td>
</tr>

<tr WIDTH="650" border="1" cellspacing="0" cellpadding="0" bordercolor="blue">
    <TD VALIGN="top" HEIGHT="25" WIDTH="650">
	TAG_PARTNER_LINK_13
    </td>
</tr>

<tr WIDTH="650" border="1" cellspacing="0" cellpadding="0" bordercolor="blue">
    <TD VALIGN="top" HEIGHT="25" WIDTH="650">
	TAG_PARTNER_LINK_14
    </td>
</tr>

<tr WIDTH="650" border="1" cellspacing="0" cellpadding="0" bordercolor="blue">
    <TD VALIGN="top" HEIGHT="25" WIDTH="650">
	TAG_PARTNER_LINK_15
    </td>
</tr>

<tr>
    <TD WIDTH="750" ALIGN="left" VALIGN="center" bgcolor="#FFFFFF" bordercolor="red">
<table>
  <tr>
    <td WIDTH="75" ALIGN="left">
	  <A 
	     ALT="" 
	     TITLE="TAG_TITLE_TEXT_HOME"
		 HREF="TAG_LINK_TEXT_HOME">Home
      </A>
    </td>
    <td WIDTH="500" ALIGN="left">
	  <A 
	     ALT="" 
	     TITLE="TAG_TITLE_TEXT_PAGE_CATOGERY_NAME"
		 HREF="TAG_LINK_PAGE_CATOGERY_NAME">TAG_PAGE_CATOGERY_NAME
      </A>
    </td>
    <td WIDTH="75" ALIGN="left">
	  <A 
	     ALT="" 
	     TITLE="TAG_PREV_TITLE_TEXT"
		 HREF="TAG_PREV_PAGE_LINK">Prev Page
      </A>
    </td>
    <td WIDTH="75" ALIGN="right">
	  <A 
	     ALT="" 
	     TITLE="TAG_NEXT_TITLE_TEXT"
		 HREF="TAG_NEXT_PAGE_LINK">Next Page
      </A>
    </td>
  </tr>
</table>	
    </TD>
</tr>

</table>
<!-- MIDDLE END 2 -->

<br>
<br>

<!-- BOTTOM START -->
<table width=900 cellspacing="0" border="1" bordercolor="orange" id="Footer Table">


<tr width=900 bordercolor="white">
       <td width=730 align="right">
	   <!-- Chitkia -->
<script type="text/javascript"><!--
ch_client = "mmbuyallgifts";
ch_width = 728;
ch_height = 90;
ch_color_border = "#cccccc";
ch_sid = "bm_resources_h1_long_banner";
ch_non_contextual = 1;
var ch_queries = new Array( "bollywood", "music", "dvd", "mp3" );
var ch_selected=Math.floor((Math.random()*ch_queries.length));
ch_query = ch_queries[ch_selected];
//--></script>
<script  src="http://scripts.chitika.net/eminimalls/mm.js" type="text/javascript">
</script>
	   </td>
       <td width=150 align="left">
	   <!-- Google Firefox Downloads -->
<script type="text/javascript"><!--
google_ad_client = "pub-1819491998461859";
google_ad_width = 120;
google_ad_height = 60;
google_ad_format = "120x60_as_rimg";
google_cpa_choice = "CAAQn4Oy0QEaCKNo8-guCDanKI-293M";
//--></script>
<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
	   </td>
</tr>

<tr width=900 bordercolor="white">
       <td width=730 align="right">
	   <!-- Chitkia -->
<script type="text/javascript"><!--
ch_client = "mmbuyallgifts";
ch_width = 728;
ch_height = 90;
ch_color_border = "#cccccc";
ch_sid = "bm_resources_h2_long_banner";
ch_non_contextual = 1;
var ch_queries = new Array( "bollywood", "music", "dvd", "mp3" );
var ch_selected=Math.floor((Math.random()*ch_queries.length));
ch_query = ch_queries[ch_selected];
//--></script>
<script  src="http://scripts.chitika.net/eminimalls/mm.js" type="text/javascript">
</script>
	   </td>
       <td width=150 align="left">
	   <!-- Google Referral -->
<script type="text/javascript"><!--
google_ad_client = "pub-1819491998461859";
google_ad_width = 120;
google_ad_height = 60;
google_ad_format = "120x60_as_rimg";
google_cpa_choice = "CAAQxfay0gEaCMzHBA5utc7TKIHD93M";
//--></script>
<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
	   </td>
</tr>

<tr bordercolor="white">
       <td align="left" width=900 colspan=2>
	   <!-- www.bollywoodmovies.us links to main pages -->
	   <table bgcolor='orange'>
	   <tr>
	   <td width=175>
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us" 
	       TITLE="Bollywood Movies News, Picture Gallery">Bollywood Movies
         </A>
       </td>
	   <td width=75>
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/actress/bollywood_actress.html" 
	       TITLE="Bollywood Movies Actresses, Biography, News, Picture Gallery, Indian, Hindi">Actresses
         </A>
	   </td>
	   <td width=75>
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/actor/bollywood_actor.html" 
	       TITLE="Bollywood Movies Actor, Biography, News, Picture Gallery, Indian, Hindi">Actor
         </A>
	   </td>
	   <td width=135>
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/blog/index.html" 
	       TITLE="Bollywood Movies Blog">Bollywood Blog
         </A>
	   </td>
	   <td width=175>
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/news/news.html" 
	       TITLE="Bollywood Movies News">Bollywood News
         </A>
	   </td>
	   <td width=175>
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/forum/index.html" 
	       TITLE="Bollywood Movies Forum">Bollywood Forum
         </A>
	   </td>
	   <td width=75>
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/sports/index.html" 
	       TITLE="Sports News and Information, Cricket">Sports
         </A>
	   </td>
	   <td width=100>
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/contact_us.html" 
	       TITLE="Bollywood Movies Contact Us">Contact Us
         </A>
	   </td>
	   <td width=75>
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/resources/resources.html" 
	       TITLE="Bollywood Movies Resources">Resources
         </A>
	   </td>
	   </tr>
	   </table>		   
<!-- ---------------------------------------------------------- -->
	   </td>
</tr>

<tr bordercolor="white">
       <td align="left" width=900 colspan=2>
<!-- ---------------------------------------------------------- -->
	   <!-- www.buyallgifts.com links to main pages -->
	   <table bgcolor='white'>
	   <tr>
	   <td width=125>
 	     <A TARGET="_blank"
	       ALT="" 
	       HREF="http://www.buyallgifts.com/home_decor/home_decorations.html" 
	       TITLE="Home Decorations, Garden Decoration, Office Decorations, Corporate Gifts Ideas">Home Decor
         </A>
	   </td>
	   <td width=125>
 	     <A TARGET="_blank"
	       ALT="" 
	       HREF="http://www.buyallgifts.com/garden_decor/garden_decorations.html" 
	       TITLE="Garden Decoration, Backyard Decorations, Lawn Accentss">Garden Decor
         </A>
	   </td>
	   <td width=135>
 	     <A TARGET="_blank"
	       ALT="" 
	       HREF="http://www.buyallgifts.com/animal/animal_figurines.html" 
	       TITLE="Home Decorations, Animal Figurines, Monkey, Wolves, Wolf, Elephant">Animal Figurines
         </A>
	   </td>
	   <td width=125>
 	     <A TARGET="_blank"
	       ALT="" 
	       HREF="http://www.buyallgifts.com/bird/bird_figurines.html" 
	       TITLE="Home Decorations, Bird Figurines, Eagle, Hummingbird, Doves, Roosters">Bird Figurines
         </A>
	   </td>
	   <td width=125>
 	     <A TARGET="_blank"
	       ALT="" 
	       HREF="http://www.buyallgifts.com/dragon/dragon_statues_figurines.html" 
	       TITLE="Dragon Figurines, Dragon Statues, Dragon Sculptures, Chinese Pewter Dragon">Dragon Figurines
         </A>
	   </td>
	   <td width=100>
 	     <A TARGET="_blank"
	       ALT="" 
	       HREF="http://www.buyallgifts.com/candleholders/candleholders.html" 
	       TITLE="Candle Holders, Candleholder, Wrought Iron, Candelabra">Candleholders
         </A>
	   </td>
	   <td width=75>
 	     <A TARGET="_blank"
	       ALT="" 
	       HREF="http://www.buyallgifts.com/fountains/fountains.html" 
	       TITLE="Garden Fountains, Water Fountains, Fountain, Desk Fountain">Fountain
         </A>
	   </td>
	   <td width=75>
 	     <A TARGET="_blank"
	       ALT="" 
	       HREF="http://www.buyallgifts.com/info/home_decor.html" 
	       TITLE="home decoration ideas">Home Decor
         </A>
	   </td>
	   <td width=75>
 	     <A TARGET="_blank"
	       ALT="" 
	       HREF="http://www.buyallgifts.com/info/garden_decor.html" 
	       TITLE="garden decoration ideas">Garden Decor
         </A>
	   </td>
	   </tr>
	   </table>		   
<!-- ---------------------------------------------------------- -->
	   </td>
</tr>

<tr bordercolor="white">
       <td align="left" width=900 colspan=2>
<!-- ---------------------------------------------------------- -->
	   <!-- links -->
	   <table bgcolor='green'>
	   <tr>
	   <td width=125>
 	     <A TARGET="_blank"
	       ALT="" 
	       HREF="http://store.buyallgifts.com/homedecor.html" 
	       TITLE="Home Decorations, Garden Decoration, Office Decorations, Corporate Gifts Ideas">Home Decor
         </A>
	   </td>
	   <td width=125>
 	     <A TARGET="_blank"
	       ALT="" 
	       HREF="http://store.buyallgifts.com/gardendecor.html" 
	       TITLE="Garden Decoration, Backyard Decorations, Lawn Accentss">Garden Decor
         </A>
	   </td>

	   <td width=125>
 	     <A TARGET="_blank"
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/sports/basketball_nba/basketball_nba.html" 
	       TITLE="NBA Basketball">NBA Basketball
         </A>	   
	   </td>

	   <td width=100>
 	     <A TARGET="_blank"
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/sports/football_nfl/football_nfl.html" 
	       TITLE="NBA Basketball">NFL Football
         </A>	   
	   </td>

	   <td width=75>

	   </td>

	   <td width=75>

	   </td>

	   <td width=125>
 	     <A TARGET="_blank"
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/sport/blog/index.html" 
	       TITLE="Sport Cricket and Tennis Blog">Cricket Tennis Blog
         </A>	   
	   </td>
	   <td width=125>
 	     <A TARGET="_blank"
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/info/indian_festivals.html" 
	       TITLE="Indian Festivals, Holi, Diwali, Raksha Bandhan, Dasara - Navaratri, Deepavali">Indian Festivals
         </A>	   
	   </td>
	   <td width=75>

	   </td>
	   </tr>
	   </table>		   
<!-- ---------------------------------------------------------- -->
	   </td>
</tr>

<tr bordercolor="white">
    <td align="center" width=100% colspan=2>
<!-- <script language="javascript" type="text/javascript" src="http://www.bollywoodmovies.us/misc/footer.html"></script> -->	
<IFRAME SRC="http://www.bollywoodmovies.us/misc/iframe_footer.html" WIDTH=700 HEIGHT=100 FRAMEBORDER=0 SCROLLING=YES>
</IFRAME>
	</td>
</tr>

</table>

<!-- BOTTOM END -->

</center>

<!-- Google Analytics Tracking -->
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-330539-2";
urchinTracker();
</script>

</body>
</html>
