<!-- http://www.pitt.edu/~nisg/cis/web/cgi/rgb.html -->

<!-- WORLD_NEWS_TABLE_START -->
<TABLE align="center" cellspacing="0" border="1" bordercolor="b0e0e6" id="World News Table">
  <TR ALIGN="center">
	<TD WIDTH=900 bgcolor="#afeeee">
<strong><font color="#3300ff" size="4">
World News:
</font></strong>	
    </TD>
  </TR>

  <!-- STORY_START_1 -->
  <TR ALIGN="left" BORDER="0">
	<TD WIDTH=900 bgcolor="white">
	  Pacific islanders move to escape global warming.
 	  <A 
	    ALT="Latest World News"
		TITLE="Latest World News" 
	    HREF="http://news.yahoo.com/s/nm/20051205/sc_nm/environment_climate_island_dc_3;_ylt=AolR7vYRnYz7R7KopfeuddZrAlMA;_ylu=X3oDMTBiMW04NW9mBHNlYwMlJVRPUCUl">Read More...
      </A>
	</TD>
  </TR>
  <!-- STORY_END_1 -->

  <!-- STORY_START_2 -->
  <TR ALIGN="left">
	<TD WIDTH=900 bgcolor="white">
Story_2
	</TD>
  </TR>
  <!-- STORY_END_2 -->

</TABLE>
<!-- WORLD_NEWS_TABLE_END -->
<br>
<!-- INDIA_NEWS_TABLE_START -->
<TABLE align="center" cellspacing="0" border="1" bordercolor="black" id="India News Table">
  <TR ALIGN="center">
	<TD WIDTH=900 bgcolor="#ff8c00">
<strong><font color="#3300ff" size="4">
India News:
</font></strong>	
    </TD>
  </TR>

  <!-- STORY_START_1 -->
  <TR ALIGN="left" BORDER="0">
	<TD WIDTH=900 bgcolor="white"> <!-- ffa500 -->
	  aaa.
 	  <A 
	    ALT="Latest India News"
		TITLE="Latest India News" 
	    HREF="aaa">Read More...
      </A>
	</TD>
  </TR>
  <!-- STORY_END_1 -->

  <!-- STORY_START_2 -->
  <TR ALIGN="left">
	<TD WIDTH=900 bgcolor="white">
Story_2
	</TD>
  </TR>
  <!-- STORY_END_2 -->

</TABLE>
<!-- INDIA_NEWS_TABLE_END -->
<br>
<!-- SPORT_NEWS_TABLE_START -->
<TABLE align="center" cellspacing="0" border="1" bordercolor="add8e6" id="Sport News Table">
  <TR ALIGN="center">
	<TD WIDTH=900 bgcolor="#87cefa">
<strong><font color="#3300ff" size="4">
Cricket News:
</font></strong>	
    </TD>
  </TR>

  <!-- STORY_START_1 -->
  <TR ALIGN="left" BORDER="0">
	<TD WIDTH=900 bgcolor="e0ffff">
	  aaa.
 	  <A 
	    ALT="Latest India News"
		TITLE="Latest India News" 
	    HREF="aaa">Read More...
      </A>
	</TD>
  </TR>
  <!-- STORY_END_1 -->

  <!-- STORY_START_2 -->
  <TR ALIGN="left">
	<TD WIDTH=900 bgcolor="e0ffff">
Story_2
	</TD>
  </TR>
  <!-- STORY_END_2 -->

</TABLE>
<!-- SPORT_NEWS_TABLE_END -->

