<table WIDTH=100%>
<tr>
  <td WIDTH=20%>
  	  <b>Genre: </b> 
  </td>
  <td WIDTH=80%>
      TAG_GENRE
  </td>
</tr>

<tr>
  <td WIDTH=20%>
  	  <b>Directed By: </b> 
  </td>
  <td WIDTH=80%>
      TAG_MOVIE_DIRECTED_BY
  </td>
</tr>

<tr>
  <td WIDTH=20%>
  	  <b>Music By: </b> 
  </td>
  <td WIDTH=80%>
      TAG_MOVIE_MUSIC_BY (TAG_MOVIE_MUSIC_LINK_BY)
  </td>
</tr>

<tr>
  <td WIDTH=20%>
  	  <b>Lyrics By: </b> 
  </td>
  <td WIDTH=80%>
      TAG_MOVIE_LYRICS_BY (TAG_MOVIE_LYRICS_LINK_BY)
  </td>
</tr>

<tr>
  <td WIDTH=20%>
  	  <b>Ratings: </b> 
  </td>
  <td WIDTH=80%>
  	  <IMG SRC="http://www.bollywoodmovies.us/images/stars_TAG_MOVIE_RATING.jpg" 
	   ALT="Bollywood Movies Rating for TAG_META_MOVIE_NAME"
	   TITLE="Bollywood Movies Rating for TAG_META_MOVIE_NAME"
	   BORDER="0">
  </td>
</tr>

</table>
		