<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
	<TITLE>Bollywood Movies: TAG_TITLE_NAME, Hindi Movies Actresses, Photo, Wallpaper, Picture Gallery, TAG_OTHER_KEYWORDS</TITLE>
    <META NAME="keywords" CONTENT="TAG_KEYWORD_ACTRESS_NAME, bollywood movies, picture gallery, news, latest movie releases and reviews, actor, actresses, wallpaper, hindi, indian, hollywood movies, TAG_OTHER_KEYWORDS">
	<META NAME="description" CONTENT="We provided the latest Bollywood Movie News, Photo and Picture gallery, and Wallpaper of all the Bollywood movie Actor/Actress including TAG_DESC_ACTRESS_NAME.">
	<META NAME="robots" CONTENT="index,follow">
	<META CONTENT="all" NAME="robots">
</head>

<link rel=stylesheet type="text/css" href="http://www.bollywoodmovies.us/css/bollywoodmovies.css">

<body><div align="center">
<script type="text/javascript" src="http://www.bollywoodmovies.us/scripts/imagePopup.js"></script>

<script language="javascript" type="text/javascript" src="http://www.bollywoodmovies.us/misc/header.html"></script>

<!-- TOP START -->
<table align="center" cellpadding="0" cellspacing="0" width=900 id="Header Table">

<tr>
       <td width=150>
		   <A HREF="http://www.bollywoodmovies.us">
	   	   <IMG SRC="http://www.bollywoodmovies.us/images/bollywoodmovies_icon.jpg" 
		   ALT="Bollywood Movies News"
		   TITLE="Bollywood Movies News"
		   WIDTH="150" HEIGHT="100" BORDER="0"></A>
	   </td>
	   
       <td width=450 bordercolor="orange">
	   
	   <table bgcolor="white" border="0" cellspacing="0" cellpadding="0" bordercolor="orange">
	   <tr>
	   <td width=150 valign="top">
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us" 
	       TITLE="Bollywood Movies News, Cinema News, Picture Gallery">Home
         </A>
<br>
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/blog/index.html" 
	       TITLE="Bollywood Movies Blog">Blog
         </A>
<br>
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/news/news.html" 
	       TITLE="Bollywood Movies and Cinema News">News
         </A>
<br>
<!--
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/forum/index.html" 
	       TITLE="Bollywood Movies Forum">Forum
         </A>
<br>
-->

<!-- AddThis Bookmark Button BEGIN -->
<a href="http://www.addthis.com/bookmark.php" onclick="addthis_url   = location.href; addthis_title = document.title; return addthis_click(this);" target="_blank"><img src="http://s3.addthis.com/button1-bm.gif" width="125" height="16" border="0" alt="AddThis Social Bookmark Button" /></a> <script type="text/javascript">var addthis_pub = 'wolverine';</script><script type="text/javascript" src="http://s3.addthis.com/js/widget.php?v=10"></script>  
<!-- AddThis Bookmark Button END -->
       </td>
	   <td width=150 valign="top">
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/actress/bollywood_actress.html" 
	       TITLE="Bollywood Movies Actresses, Biography, News, Picture Gallery, Indian, Hindi">Actresses
         </A>
<br>		 
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/actor/bollywood_actor.html" 
	       TITLE="Bollywood Movies Actor, Biography, News, Picture Gallery, Indian, Hindi">Actor
         </A>
<br>		 
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/movie_reviews/bollywood_movie_reviews.html" 
	       TITLE="Bollywood Movies Indian Hindi Cinema Reviews">Movie Review
         </A>
<br>		 
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/movie_reviews/2007_bollywood_movies_releases_forthcoming.html" 
	       TITLE="Bollywood Movie Releases and Forthcoming for 2007">2007 Releases
         </A>
	   </td>
	   <td width=150 valign="top">
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/sitemap.html" 
	       TITLE="Bollywood Movies, Sitemap">Sitemap
         </A>
<br>		 
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/contact_us.html" 
	       TITLE="Bollywood Movies Contact Us">Contact Us
         </A>
<br>		 
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/resources/resources.html" 
	       TITLE="Bollywood Movies Resources">Resources
         </A>
<!--
<br>		 
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/resources/affiliates/affiliates.html" 
	       TITLE="Bollywood Movies Affiliates">Affiliates
         </A>
-->
<br>		 
		  <a href="http://feeds.feedburner.com/BollywoodMovieNews" 
			 title="Subscribe to my feed, Bollywood Movie News, Latest Movie Releases" 
			 rel="alternate" type="application/rss+xml">
			 <img src="http://www.feedburner.com/fb/images/pub/feed-icon16x16.png" alt="" style="border:0"/>
		  </a>
<!--
		 <a 
		   href="http://add.my.yahoo.com/rss?url=http://www.bollywoodmovies.us/rss/bollywoodmovies.xml">
		   <img herf= "" src="http://www.buyallgifts.com/rss/my-yahoo.gif" 
		   width="100" height="14" border="0" title="Bollywood Movies News, Actor, Actress" alt="Bollywood Movies News, Actor, Actress">
		 </a>
-->
	   </td>
	   </tr>
	   </table>		   

	   </td>
       <td width=300 valign="center" align="center" bordercolor="orange">

<!-- Start Guruji Integration -->
<table width=100%>
<FORM action=http://www.guruji.com/customIndia>
<tr>
<td>
<!-- empty -->
</td>
<td>
<a href=http://www.guruji.com/><img align=center border=0 src=http://www.guruji.com/custom/clients//images/guruji_trans_60_20.png></a>
</td>
</tr>

<tr>
<td>
<!-- empty -->
</td>
<td>
<input type=text name=q>
<input type=submit value="Guruji Search">
</td>
</tr>

<tr>
<td>
</td>
<td>
<input type=radio name=site value="bollywoodmovies.us" > 
<font size="3" color="black">bollywoodmovies.us</font>
<input type=radio name=site value="" checked > 
<font size="3" color="black">India Search</font>
<input type=hidden name=client value="bollywoodmovies.us" >
<input type=hidden name=cfeed value=tw;SU:www.bollywoodmovies.us;TB:1; >
</FORM>
</td></tr>
</table>
<!-- End Guruji Integration -->

	   </td>
</tr>

  <tr>
    <td align=left valign=center width=100% height="2" bgcolor="#458b00" colspan=3>
    </td>
  </tr>

<tr>
       <td width=775 colspan=3>
<!-- Main Menu -->
<script type="text/javascript" src="http://www.bollywoodmovies.us/menu/milonic_src.js"></script>	
<div class=milonic><a href="http://www.milonic.com/">JavaScript Menu, DHTML Menu Powered By Milonic</a></div>
<script	type="text/javascript">
if(ns4)_d.write("<scr"+"ipt type=text/javascript src=http://www.bollywoodmovies.us/menu/mmenuns4.js><\/scr"+"ipt>");		
  else _d.write("<scr"+"ipt type=text/javascript src=http://www.bollywoodmovies.us/menu/mmenudom.js><\/scr"+"ipt>"); 
</script>
<script type="text/javascript" src="http://www.bollywoodmovies.us/menu/menu_data.js"></script>
	   </td>
</tr>

<tr>
       <td width=775 height=25 colspan=3>
	   <!-- Dynamic Menu Cover up this -->
	   </td>
</tr>

</table>
<!-- TOP END -->


<!-- MIDDLE START -->
<table width=900 cellspacing="0" border="1" bordercolor="white" id="Middle Table">

<tr bordercolor="white">	
	<td width=100% align="center" colspan=3>
	  <table>
	  <tr>
	    <td width=150>
	      <A 
	        ALT="" 
	        HREF="http://www.bollywoodmovies.us/TAG_DIR_NAME_1/TAG_DIR_ACTRESS_NAME/bollywood_TAG_DIR_ACTRESS_NAME.html" 
	        TITLE="TAG_ALT_ACTRESS_NAME">TAG_TITLE_NAME
          </A>
	    </td>
	    <td width=100>
	      <A 
	        ALT="" 
	        HREF="http://www.bollywoodmovies.us/TAG_DIR_NAME_1/TAG_DIR_ACTRESS_NAME/bollywood_TAG_DIR_ACTRESS_NAME_biography.html" 
	        TITLE="TAG_ALT_ACTRESS_NAME Biography">Biography
          </A>
	    </td>
	    <td width=100>
	      <A 
	        ALT="" 
	        HREF="http://www.bollywoodmovies.us/TAG_DIR_NAME_1/TAG_DIR_ACTRESS_NAME/bollywood_TAG_DIR_ACTRESS_NAME_filmography.html" 
	        TITLE="TAG_ALT_ACTRESS_NAME Filmography">Filmography
          </A>
	    </td>
	    <td width=125>
	      <A 
	        ALT="" 
	        HREF="http://www.bollywoodmovies.us/TAG_DIR_NAME_1/TAG_DIR_ACTRESS_NAME/bollywood_TAG_DIR_ACTRESS_NAME_latest_news.html" 
	        TITLE="TAG_ALT_ACTRESS_NAME New Releases, Latest Bollywood Movies News">Latest News
          </A>
	    </td>
	    <td width=175>
	      <A 
	        ALT="" 
	        HREF="http://www.bollywoodmovies.us/TAG_DIR_NAME_1/TAG_DIR_ACTRESS_NAME/bollywood_TAG_DIR_ACTRESS_NAME_photo_gallery.html" 
	        TITLE="TAG_ALT_ACTRESS_NAME Picture Gallery, Photo, Pics">Picture Gallery
          </A>
	    </td>
	    <td width=20 align="left">
		  <a href="http://www.bollywoodmovies.us/TAG_DIR_NAME_1/TAG_DIR_ACTRESS_NAME/bollywood_TAG_DIR_ACTRESS_NAME_photo_gallery_TAG_PREV.html">
  		    <img src="http://www.bollywoodmovies.us/images/prev.gif"
		    alt="Previous Picture Gallery" title="Previous Picture Gallery"
		    width="16" height="16" border="0">
		  </a>
		</td>
	    <td width=20 align="right">
		  <a href="http://www.bollywoodmovies.us/TAG_DIR_NAME_1/TAG_DIR_ACTRESS_NAME/bollywood_TAG_DIR_ACTRESS_NAME_photo_gallery_TAG_NEXT.html">
		   <img src="http://www.bollywoodmovies.us/images/next.gif" 
		   alt="Next Picture Gallery" title="Next Picture Gallery"
		   width="16" height="16" border="0">
	 	  </a>
	    </td>
	  </tr>
	  </table>
	</td>
</tr>

<tr bordercolor="white">	
	<td width=100% align="center" colspan=3 height="3" bgcolor="#BBBCB7">
	</td>
</tr>

<tr bordercolor="white">	
	<td width=100% align="center" colspan=3 height="3" bgcolor="#FFFFFF">
<!-- MEDIA_JUMP_ADS -->
	</td>
</tr>

<tr bordercolor="white">	
	<td width=100% align="center" colspan=3 height="3" bgcolor="#BBBCB7">
	</td>
</tr>

<tr>
       <td valign="top" align="left" width=160>
<b><font color="#ff0000">Hollywood Celebrity</font></b>
 	     <A 
           ALT="" 
		   TITLE="Super Model Adriana Lima Picture and Photo Gallery"
	       HREF="http://www.bollywoodmovies.us/models/adriana_lima/models_adriana_lima.html">Adriana Lima
         </A>
<br>
 	     <A 
           ALT="" 
		   TITLE="Hollywood Celebrity Angelina Jolie Picture and Photo Gallery"
	       HREF="http://www.bollywoodmovies.us/hollywood/actress/angelina_jolie/hollywood_angelina_jolie.html">Angelina Jolie
         </A>
<br>
 	     <A 
           ALT="" 
		   TITLE="Hollywood Celebrity Britney Spears Picture and Photo Gallery"
	       HREF="http://www.bollywoodmovies.us/hollywood/artists/britney_spears/hollywood_britney_spears.html">Britney Spears
         </A>
<br>
 	     <A 
           ALT="" 
		   TITLE="Super Model Cindy Crawford Picture and Photo Gallery"
	       HREF="http://www.bollywoodmovies.us/models/cindy_crawford/models_cindy_crawford.html">Cindy Crawford
         </A>
<br>
 	     <A 
           ALT="" 
		   TITLE="Hollywood Celebrity Eva Longoria Picture and Photo Gallery"
	       HREF="http://www.bollywoodmovies.us/hollywood/actress/eva_longoria/hollywood_eva_longoria.html">Eva Longoria
         </A>
<br>
 	     <A 
           ALT="" 
		   TITLE="Hollywood Celebrity Halle Berry Picture and Photo Gallery"
	       HREF="http://www.bollywoodmovies.us/hollywood/actress/halle_berry/hollywood_halle_berry.html">Halle Berry
         </A>
<br>
 	     <A 
           ALT="" 
		   TITLE="Hollywood Celebrity Jennifer Lopez Picture and Photo Gallery"
	       HREF="http://www.bollywoodmovies.us/hollywood/actress/jennifer_lopez/hollywood_jennifer_lopez.html">Jennifer Lopez
         </A>
<br>
 	     <A 
           ALT="" 
		   TITLE="Hollywood Celebrity Jessica Alba Picture and Photo Gallery"
	       HREF="http://www.bollywoodmovies.us/hollywood/actress/jessica_alba/hollywood_jessica_alba.html">Jessica Alba
         </A>
<br>
 	     <A 
           ALT="" 
		   TITLE="Hollywood Celebrity Kirsten Dunst Picture and Photo Gallery"
	       HREF="http://www.bollywoodmovies.us/hollywood/actress/kirsten_dunst/hollywood_kirsten_dunst.html">Kirsten Dunst
         </A>
<br>
 	     <A 
           ALT="" 
		   TITLE="Super Model Laetitia Casta Picture and Photo Gallery"
	       HREF="http://www.bollywoodmovies.us/models/laetitia_casta/models_laetitia_casta.html">Laetitia Casta
         </A>
<br>
 	     <A 
           ALT="" 
		   TITLE="Hollywood Celebrity Paris Hilton Picture and Photo Gallery"
	       HREF="http://www.bollywoodmovies.us/models/paris_hilton/models_paris_hilton.html">Paris Hilton
         </A>
<br>
 	     <A 
           ALT="" 
		   TITLE="Hollywood Celebrity Scarlett Johansson Picture and Photo Gallery"
	       HREF="http://www.bollywoodmovies.us/hollywood/actress/scarlett_johansson/hollywood_scarlett_johansson.html">Scarlett Johansson
         </A>
<BR>
<hr size="2" width="100%" color="#ff6633">
	   <!-- Google Vertical Skyscraper -->
<script type="text/javascript"><!--
google_ad_client = "pub-1819491998461859";
google_ad_width = 160;
google_ad_height = 600;
google_ad_format = "160x600_as";
google_ad_type = "text_image";
google_ad_channel ="TAG_GOOGLE_V1_BANNER";
google_color_border = "FFFFFF";
google_color_bg = "FFFFFF";
google_color_link = "0000FF";
google_color_url = "008000";
google_color_text = "000000";
//--></script>
<script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
<br>
TAG_LEFT_V1_BANNER_ADS
	   </td>
	   
       <td width=700 cellspacing="2" align="center">
	   <!-- Pictures -->

<!-- Table For Picture Start -->

<table cellspacing="0" border="4" bordercolor="orange">
<tr>
<td><center>
<table cellspacing="0" border="4" bordercolor="white">
<tr>
<td><center>
<table cellspacing="0" border="4" bordercolor="green">
<tr>
<td>

<TABLE CELLPADDING="3" CELLSPACING="3" BORDER="1" HEIGHT="900">

<TR ALIGN="center" bgcolor="#fff8dc">
	<TD>
 	  <A
	    ALT="TAG_ALT_ACTRESS_NAME, photo gallery, pictures, pics, wallpaper" 
	    TITLE="TAG_ALT_ACTRESS_NAME, photo gallery, pictures, pics, wallpaper"
	    HREF="http://www.bollywoodmovies.us/TAG_DIR_NAME_1/TAG_DIR_ACTRESS_NAME/bollywood_TAG_DIR_ACTRESS_NAME_photo_gallery_TAG_PREV.html">Previous Gallery
      </A>
	</TD>
	<TD>
 	  <A
	    ALT="TAG_ALT_ACTRESS_NAME, photo gallery, pictures, pics, wallpaper" 
	    TITLE="TAG_ALT_ACTRESS_NAME, photo gallery, pictures, pics, wallpaper"
	    HREF="http://www.bollywoodmovies.us/TAG_DIR_NAME_1/TAG_DIR_ACTRESS_NAME/bollywood_TAG_DIR_ACTRESS_NAME_photo_gallery_01.html">1 
      </A>
 	  <A
	    ALT="TAG_ALT_ACTRESS_NAME, photo gallery, pictures, pics, wallpaper" 
	    TITLE="TAG_ALT_ACTRESS_NAME, photo gallery, pictures, pics, wallpaper"
	    HREF="http://www.bollywoodmovies.us/TAG_DIR_NAME_1/TAG_DIR_ACTRESS_NAME/bollywood_TAG_DIR_ACTRESS_NAME_photo_gallery_02.html">2 
      </A>
 	  <A
	    ALT="TAG_ALT_ACTRESS_NAME, photo gallery, pictures, pics, wallpaper" 
	    TITLE="TAG_ALT_ACTRESS_NAME, photo gallery, pictures, pics, wallpaper"
	    HREF="http://www.bollywoodmovies.us/TAG_DIR_NAME_1/TAG_DIR_ACTRESS_NAME/bollywood_TAG_DIR_ACTRESS_NAME_photo_gallery_03.html">3 
      </A>
 	  <A
	    ALT="TAG_ALT_ACTRESS_NAME, photo gallery, pictures, pics, wallpaper" 
	    TITLE="TAG_ALT_ACTRESS_NAME, photo gallery, pictures, pics, wallpaper"
	    HREF="http://www.bollywoodmovies.us/TAG_DIR_NAME_1/TAG_DIR_ACTRESS_NAME/bollywood_TAG_DIR_ACTRESS_NAME_photo_gallery_04.html">4 
      </A>
 	  <A
	    ALT="TAG_ALT_ACTRESS_NAME, photo gallery, pictures, pics, wallpaper" 
	    TITLE="TAG_ALT_ACTRESS_NAME, photo gallery, pictures, pics, wallpaper"
	    HREF="http://www.bollywoodmovies.us/TAG_DIR_NAME_1/TAG_DIR_ACTRESS_NAME/bollywood_TAG_DIR_ACTRESS_NAME_photo_gallery_05.html">5 
      </A>
	</TD>
	<TD>
 	  <A
	    ALT="TAG_ALT_ACTRESS_NAME, photo gallery, pictures, pics, wallpaper" 
	    TITLE="TAG_ALT_ACTRESS_NAME, photo gallery, pictures, pics, wallpaper"
	    HREF="http://www.bollywoodmovies.us/TAG_DIR_NAME_1/TAG_DIR_ACTRESS_NAME/bollywood_TAG_DIR_ACTRESS_NAME_photo_gallery_TAG_NEXT.html">Next Gallery
      </A>
	</TD>
</TR>

<TR ALIGN="center">
	<TD>
	</TD>
	<TD>
	  <b><font size="2">Click Any Image For Larger View</font></b>
	</TD>
	<TD>
	<b>TAG_NUM_OF_IMAGES pictures/pics</b> 
	</TD>
</TR>

<!-- Picture Start -->
<!-- ROW 1 -->
<TR ALIGN="center">
	<TD WIDTH=230>
	<A href="#" onclick="ImagePopup('http://www.bollywoodmovies.us/TAG_DIR_NAME_1/TAG_DIR_ACTRESS_NAME/pictures/TAG_DIR_ACTRESS_NAME_TAG_IMAGE_01.jpg',500,500);return false;">
	<IMG SRC="http://www.bollywoodmovies.us/TAG_DIR_NAME_1/TAG_DIR_ACTRESS_NAME/pics/TAG_DIR_ACTRESS_NAME_TAG_IMAGE_01.jpg" 
	ALT="TAG_ALT_ACTRESS_NAME, Bollywood TAG_ALT_ACTRESS_NAME, photo gallery, photos, pictures"
	TITLE="TAG_ALT_ACTRESS_NAME, Bollywood TAG_ALT_ACTRESS_NAME, photo gallery, photos, pictures"
	BORDER="0">
	</A>
	</TD>

	<TD WIDTH=230>
	<A href="#" onclick="ImagePopup('http://www.bollywoodmovies.us/TAG_DIR_NAME_1/TAG_DIR_ACTRESS_NAME/pictures/TAG_DIR_ACTRESS_NAME_TAG_IMAGE_02.jpg',500,500);return false;">
	<IMG SRC="http://www.bollywoodmovies.us/TAG_DIR_NAME_1/TAG_DIR_ACTRESS_NAME/pics/TAG_DIR_ACTRESS_NAME_TAG_IMAGE_02.jpg" 
	ALT="TAG_ALT_ACTRESS_NAME, Bollywood TAG_ALT_ACTRESS_NAME, photo gallery, photos, pictures"
	TITLE="TAG_ALT_ACTRESS_NAME, Bollywood TAG_ALT_ACTRESS_NAME, photo gallery, photos, pictures"
	BORDER="0">
	</A>
	</TD>

	<TD WIDTH=230>
	<A href="#" onclick="ImagePopup('http://www.bollywoodmovies.us/TAG_DIR_NAME_1/TAG_DIR_ACTRESS_NAME/pictures/TAG_DIR_ACTRESS_NAME_TAG_IMAGE_03.jpg',500,500);return false;">
	<IMG SRC="http://www.bollywoodmovies.us/TAG_DIR_NAME_1/TAG_DIR_ACTRESS_NAME/pics/TAG_DIR_ACTRESS_NAME_TAG_IMAGE_03.jpg" 
	ALT="TAG_ALT_ACTRESS_NAME, Bollywood TAG_ALT_ACTRESS_NAME, photo gallery, photos, pictures"
	TITLE="TAG_ALT_ACTRESS_NAME, Bollywood TAG_ALT_ACTRESS_NAME, photo gallery, photos, pictures"
	BORDER="0">
	</A>
	</TD>
</TR>


<!-- ROW 2 -->
<TR ALIGN="center">
	<TD WIDTH=230>
	<A href="#" onclick="ImagePopup('http://www.bollywoodmovies.us/TAG_DIR_NAME_1/TAG_DIR_ACTRESS_NAME/pictures/TAG_DIR_ACTRESS_NAME_TAG_IMAGE_04.jpg',500,500);return false;">
	<IMG SRC="http://www.bollywoodmovies.us/TAG_DIR_NAME_1/TAG_DIR_ACTRESS_NAME/pics/TAG_DIR_ACTRESS_NAME_TAG_IMAGE_04.jpg" 
	ALT="TAG_ALT_ACTRESS_NAME, Bollywood TAG_ALT_ACTRESS_NAME, photo gallery, photos, pictures"
	TITLE="TAG_ALT_ACTRESS_NAME, Bollywood TAG_ALT_ACTRESS_NAME, photo gallery, photos, pictures"
	BORDER="0">
	</A>
	</TD>

	<TD WIDTH=230>
	<A href="#" onclick="ImagePopup('http://www.bollywoodmovies.us/TAG_DIR_NAME_1/TAG_DIR_ACTRESS_NAME/pictures/TAG_DIR_ACTRESS_NAME_TAG_IMAGE_05.jpg',500,500);return false;">
	<IMG SRC="http://www.bollywoodmovies.us/TAG_DIR_NAME_1/TAG_DIR_ACTRESS_NAME/pics/TAG_DIR_ACTRESS_NAME_TAG_IMAGE_05.jpg" 
	ALT="TAG_ALT_ACTRESS_NAME, Bollywood TAG_ALT_ACTRESS_NAME, photo gallery, photos, pictures"
	TITLE="TAG_ALT_ACTRESS_NAME, Bollywood TAG_ALT_ACTRESS_NAME, photo gallery, photos, pictures"
	BORDER="0">
	</A>
	</TD>

	<TD WIDTH=230>
	<A href="#" onclick="ImagePopup('http://www.bollywoodmovies.us/TAG_DIR_NAME_1/TAG_DIR_ACTRESS_NAME/pictures/TAG_DIR_ACTRESS_NAME_TAG_IMAGE_06.jpg',500,500);return false;">
	<IMG SRC="http://www.bollywoodmovies.us/TAG_DIR_NAME_1/TAG_DIR_ACTRESS_NAME/pics/TAG_DIR_ACTRESS_NAME_TAG_IMAGE_06.jpg" 
	ALT="TAG_ALT_ACTRESS_NAME, Bollywood TAG_ALT_ACTRESS_NAME, photo gallery, photos, pictures"
	TITLE="TAG_ALT_ACTRESS_NAME, Bollywood TAG_ALT_ACTRESS_NAME, photo gallery, photos, pictures"
	BORDER="0">
	</A>
	</TD>
</TR>

<TR>
	<td align="left" bgcolor="white" colspan=3>
	</td>
</TR>

<!-- ROW 3 -->
<TR ALIGN="center">
	<TD WIDTH=230>
	<A href="#" onclick="ImagePopup('http://www.bollywoodmovies.us/TAG_DIR_NAME_1/TAG_DIR_ACTRESS_NAME/pictures/TAG_DIR_ACTRESS_NAME_TAG_IMAGE_07.jpg',500,500);return false;">
	<IMG SRC="http://www.bollywoodmovies.us/TAG_DIR_NAME_1/TAG_DIR_ACTRESS_NAME/pics/TAG_DIR_ACTRESS_NAME_TAG_IMAGE_07.jpg" 
	ALT="TAG_ALT_ACTRESS_NAME, Bollywood TAG_ALT_ACTRESS_NAME, photo gallery, photos, pictures"
	TITLE="TAG_ALT_ACTRESS_NAME, Bollywood TAG_ALT_ACTRESS_NAME, photo gallery, photos, pictures"
	BORDER="0">
	</A>
	</TD>

	<TD WIDTH=230>
	<A href="#" onclick="ImagePopup('http://www.bollywoodmovies.us/TAG_DIR_NAME_1/TAG_DIR_ACTRESS_NAME/pictures/TAG_DIR_ACTRESS_NAME_TAG_IMAGE_08.jpg',500,500);return false;">
	<IMG SRC="http://www.bollywoodmovies.us/TAG_DIR_NAME_1/TAG_DIR_ACTRESS_NAME/pics/TAG_DIR_ACTRESS_NAME_TAG_IMAGE_08.jpg" 
	ALT="TAG_ALT_ACTRESS_NAME, Bollywood TAG_ALT_ACTRESS_NAME, photo gallery, photos, pictures"
	TITLE="TAG_ALT_ACTRESS_NAME, Bollywood TAG_ALT_ACTRESS_NAME, photo gallery, photos, pictures"
	BORDER="0">
	</A>
	</TD>

	<TD WIDTH=230>
	<A href="#" onclick="ImagePopup('http://www.bollywoodmovies.us/TAG_DIR_NAME_1/TAG_DIR_ACTRESS_NAME/pictures/TAG_DIR_ACTRESS_NAME_TAG_IMAGE_09.jpg',500,500);return false;">
	<IMG SRC="http://www.bollywoodmovies.us/TAG_DIR_NAME_1/TAG_DIR_ACTRESS_NAME/pics/TAG_DIR_ACTRESS_NAME_TAG_IMAGE_09.jpg" 
	ALT="TAG_ALT_ACTRESS_NAME, Bollywood TAG_ALT_ACTRESS_NAME, photo gallery, photos, pictures"
	TITLE="TAG_ALT_ACTRESS_NAME, Bollywood TAG_ALT_ACTRESS_NAME, photo gallery, photos, pictures"
	BORDER="0">
	</A>
	</TD>
</TR>
<!-- Picture End -->

<TR ALIGN="center" bgcolor="#fff8dc">
	<TD>
 	  <A
	    ALT="TAG_ALT_ACTRESS_NAME, photo gallery, pictures, pics, wallpaper" 
	    TITLE="TAG_ALT_ACTRESS_NAME, photo gallery, pictures, pics, wallpaper"
	    HREF="http://www.bollywoodmovies.us/TAG_DIR_NAME_1/TAG_DIR_ACTRESS_NAME/bollywood_TAG_DIR_ACTRESS_NAME_photo_gallery_TAG_PREV.html">Previous Gallery
      </A>
	</TD>
	<TD>
 	  <A
	    ALT="TAG_ALT_ACTRESS_NAME, photo gallery, pictures, pics, wallpaper" 
	    TITLE="TAG_ALT_ACTRESS_NAME, photo gallery, pictures, pics, wallpaper"
	    HREF="http://www.bollywoodmovies.us/TAG_DIR_NAME_1/TAG_DIR_ACTRESS_NAME/bollywood_TAG_DIR_ACTRESS_NAME_photo_gallery_01.html">1 
      </A>
 	  <A
	    ALT="TAG_ALT_ACTRESS_NAME, photo gallery, pictures, pics, wallpaper" 
	    TITLE="TAG_ALT_ACTRESS_NAME, photo gallery, pictures, pics, wallpaper"
	    HREF="http://www.bollywoodmovies.us/TAG_DIR_NAME_1/TAG_DIR_ACTRESS_NAME/bollywood_TAG_DIR_ACTRESS_NAME_photo_gallery_02.html">2 
      </A>
 	  <A
	    ALT="TAG_ALT_ACTRESS_NAME, photo gallery, pictures, pics, wallpaper" 
	    TITLE="TAG_ALT_ACTRESS_NAME, photo gallery, pictures, pics, wallpaper"
	    HREF="http://www.bollywoodmovies.us/TAG_DIR_NAME_1/TAG_DIR_ACTRESS_NAME/bollywood_TAG_DIR_ACTRESS_NAME_photo_gallery_03.html">3 
      </A>
 	  <A
	    ALT="TAG_ALT_ACTRESS_NAME, photo gallery, pictures, pics, wallpaper" 
	    TITLE="TAG_ALT_ACTRESS_NAME, photo gallery, pictures, pics, wallpaper"
	    HREF="http://www.bollywoodmovies.us/TAG_DIR_NAME_1/TAG_DIR_ACTRESS_NAME/bollywood_TAG_DIR_ACTRESS_NAME_photo_gallery_04.html">4 
      </A>
 	  <A
	    ALT="TAG_ALT_ACTRESS_NAME, photo gallery, pictures, pics, wallpaper" 
	    TITLE="TAG_ALT_ACTRESS_NAME, photo gallery, pictures, pics, wallpaper"
	    HREF="http://www.bollywoodmovies.us/TAG_DIR_NAME_1/TAG_DIR_ACTRESS_NAME/bollywood_TAG_DIR_ACTRESS_NAME_photo_gallery_05.html">5 
      </A>
	</TD>
	<TD>
 	  <A
	    ALT="TAG_ALT_ACTRESS_NAME, photo gallery, pictures, pics, wallpaper" 
	    TITLE="TAG_ALT_ACTRESS_NAME, photo gallery, pictures, pics, wallpaper"
	    HREF="http://www.bollywoodmovies.us/TAG_DIR_NAME_1/TAG_DIR_ACTRESS_NAME/bollywood_TAG_DIR_ACTRESS_NAME_photo_gallery_TAG_NEXT.html">Next Gallery
      </A>
	</TD>
</TR>

</TABLE>

</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>

<!-- Table For Picture End -->	 

	   </td>
	   
       <td valign="top" align="center" width=125>
	   TAG_V1_BANNER_ADS

	   <!-- Google Vertical Skyscraper -->
<script type="text/javascript"><!--
google_ad_client = "pub-1819491998461859";
google_ad_width = 160;
google_ad_height = 600;
google_ad_format = "160x600_as";
google_ad_type = "image";
google_ad_channel ="TAG_GOOGLE_V2_BANNER";
google_color_border = "FFFFFF";
google_color_bg = "FFFFFF";
google_color_link = "0000FF";
google_color_url = "008000";
google_color_text = "000000";
//--></script>
<script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
<hr size="1" width="100%">
<!-- Chitika --> 
<script type="text/javascript"><!--
ch_client = "mmbuyallgifts";
ch_width = 160;
ch_height = 160;
ch_non_contextual = 1;
ch_default_category = "200001";
ch_sid = "bm_photo_v1_banner";
var ch_queries = new Array( );
var ch_selected=Math.floor((Math.random()*ch_queries.length));
if ( ch_selected < ch_queries.length ) {
ch_query = ch_queries[ch_selected];
}
//--></script>
<script  src="http://scripts.chitika.net/eminimalls/mm.js" type="text/javascript">
</script>
	   TAG_RIGHT_V2_BANNER_ADS
	   </td>
</tr>

<tr>
       <td width=900 valign="center" align="center" colspan=3>
<table>

<tr>
       <td width=170 valign="center" align="center">
	   </td>
	   
       <td width=730 valign="center" align="center">
	   <!-- Google Adlinks -->
<script type="text/javascript"><!--
google_ad_client = "pub-1819491998461859";
google_ad_width = 728;
google_ad_height = 15;
google_ad_format = "728x15_0ads_al";
google_ad_channel ="TAG_GOOGLE_ADLINKS";
google_color_border = "FFFFFF";
google_color_bg = "FFFFFF";
google_color_link = "0000FF";
google_color_url = "008000";
google_color_text = "000000";
//--></script>
<script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>   
<hr size="1" width="100%">	
<!-- Google Horizontal Banner -->
<script type="text/javascript"><!--
google_ad_client = "pub-1819491998461859";
google_ad_width = 728;
google_ad_height = 90;
google_ad_format = "728x90_as";
google_ad_type = "text_image";
google_ad_channel ="TAG_GOOGLE_H1_BANNER";
google_color_border = "FFFFFF";
google_color_bg = "FFFFFF";
google_color_link = "0000FF";
google_color_url = "008000";
google_color_text = "000000";
//--></script>
<script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
<hr size="1" width="100%">	
	   </td>

       <td width=0 valign="center" align="center">
	   </td>
</tr>

<tr bordercolor="white">	
	<td width=100% align="center" colspan=3 height="3" bgcolor="white">
	</td>
</tr>

<tr>
       <td width=170 valign="center" align="center">
	   </td>
	   
       <td width=730 valign="center" align="center">
<!-- AuctionAds H Banner --> 
<script type="text/javascript"><!--
auctionads_ad_client = "6f208228dfc471f2e101";
auctionads_ad_campaign = "9daaed7fb5ebbfa36e351ae50817fb19";
auctionads_ad_width = "728";
auctionads_ad_height = "90";
auctionads_ad_kw =  "TAG_AUCTION_ADS_H1_KEYWORD";
auctionads_color_border =  "FFFFFF";
auctionads_color_bg =  "FFFFFF";
auctionads_color_heading =  "00A0E2";
auctionads_color_text =  "000000";
auctionads_color_link =  "008000";
auctionads_options =  "n";
--></script>
<script type="text/javascript" src="http://ads.auctionads.com/pagead/show_ads.js">
</script>
<hr size="1" width="100%">	
	   </td>

       <td width=0 valign="center" align="center">
	   </td>
</tr>

<tr>
       <td width=170 valign="center" align="center">
	   </td>
	   
       <td width=730 valign="center" align="center">
	   <!-- Google Adlinks -->
<script type="text/javascript"><!--
google_ad_client = "pub-1819491998461859";
google_ad_width = 728;
google_ad_height = 15;
google_ad_format = "728x15_0ads_al";
google_ad_channel ="TAG_GOOGLE_ADLINKS";
google_color_border = "FFFFFF";
google_color_bg = "FFFFFF";
google_color_link = "0000FF";
google_color_url = "008000";
google_color_text = "000000";
//--></script>
<script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>   
	   </td>

       <td width=0 valign="center" align="center">
	   </td>
</tr>




<tr>
       <td width=170 valign="center" align="center">
	   </td>
	   
       <td width=730 valign="center" align="center">
<hr size="1" width="100%">
<!-- SiteSearch Google -->
<!-- SiteSearch Google -->
<form method="get" action="http://www.google.com/custom" target="_top">
<table border="0" bgcolor="#ffffff">
<tr><td nowrap="nowrap" valign="top" align="left" height="32">
<a href="http://www.google.com/">
<img src="http://www.google.com/logos/Logo_25wht.gif" border="0" alt="Google" align="middle"></img></a>
<br/>
<input type="hidden" name="domains" value="www.bollywoodmovies.us"></input>
<input type="text" name="q" size="31" maxlength="255" value=""></input>
<input type="submit" name="sa" value="Search"></input>
</td></tr>
<tr>
<td nowrap="nowrap">
<table>
<tr>
<td>
<input type="radio" name="sitesearch" value=""></input>
<font size="-1" color="black">Web</font>
</td>
<td>
<input type="radio" name="sitesearch" value="www.bollywoodmovies.us" checked="checked"></input>
<font size="-1" color="black">www.bollywoodmovies.us</font>
</td>
</tr>
</table>
<input type="hidden" name="client" value="pub-1819491998461859"></input>
<input type="hidden" name="forid" value="1"></input>
<input type="hidden" name="channel" value="9628527609"></input>
<input type="hidden" name="ie" value="ISO-8859-1"></input>
<input type="hidden" name="oe" value="ISO-8859-1"></input>
<input type="hidden" name="safe" value="active"></input>
<input type="hidden" name="cof" value="GALT:#008000;GL:1;DIV:#336699;VLC:663399;AH:center;BGC:FFFFFF;LBGC:336699;ALC:0000FF;LC:0000FF;T:000000;GFNT:0000FF;GIMP:0000FF;FORID:1;"></input>
<input type="hidden" name="hl" value="en"></input>
</td></tr></table>
</form>
<!-- SiteSearch Google -->
<!-- SiteSearch Google -->

<hr size="1" width="100">	   
TAG_H2_BANNER_ADS
	   </td>

       <td width=0 valign="center" align="center">
	   </td>
</tr>


</table>	   
	   </td>  
</tr>

<tr bordercolor="white">
	<td width=100% align="left" colspan=3>

<!-- NAVIGATION_START -->
<table WIDTH=100% VALIGN="top">

<tr VALIGN="top">
       <td WIDTH=20% BGCOLOR="#e6e6fa">
	     <b><font color="#ff0000">Hollywood Celebrity</font></b>
	   </td>
       <td WIDTH=20% BGCOLOR="#87ceeb">
	     <b><font color="#ff0000">Models</font></b>
	   </td>
       <td WIDTH=20% BGCOLOR="#66cdaa">
	     <b><font color="#ff0000">Sport News</font></b>
	   </td>
       <td WIDTH=20% BGCOLOR="#eee8aa">
	     <b><font color="#ff0000">Misc</font></b>
	   </td>
       <td WIDTH=20% BGCOLOR="#eee8dd">
	     <b><font color="#ff0000">TV Shows</font></b>
	   </td>
</tr>
<tr VALIGN="top">
       <td WIDTH=20% BGCOLOR="#FFFFFF">
 	     <A 
           ALT="" 
		   TITLE="Hollywood Celebrites Angelina Jolie Picture and Photo Gallery"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/hollywood/actress/angelina_jolie/hollywood_angelina_jolie.html">Angelina Jolie
         </A>
<br>
 	     <A 
           ALT="" 
		   TITLE="Hollywood Celebrites Britney Spears Picture and Photo Gallery"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/hollywood/artists/britney_spears/hollywood_britney_spears.html">Britney Spears
         </A>
<br>
 	     <A 
           ALT="" 
		   TITLE="Hollywood Celebrites Eva Longoria Picture and Photo Gallery"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/hollywood/actress/eva_longoria/hollywood_eva_longoria.html">Eva Longoria
         </A>
<br>
 	     <A 
           ALT="" 
		   TITLE="Hollywood Celebrites Halle Berry Picture and Photo Gallery"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/hollywood/actress/halle_berry/hollywood_halle_berry.html">Halle Berry
         </A>
<br>
 	     <A 
           ALT="" 
		   TITLE="Hollywood Celebrites Jennifer Lopez Picture and Photo Gallery"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/hollywood/actress/jennifer_lopez/hollywood_jennifer_lopez.html">Jennifer Lopez
         </A>
<br>
 	     <A 
           ALT="" 
		   TITLE="Hollywood Celebrites Jessica Alba Picture and Photo Gallery"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/hollywood/actress/jessica_alba/hollywood_jessica_alba.html">Jessica Alba
         </A>
<br>
 	     <A 
           ALT="" 
		   TITLE="Hollywood Celebrites Megan Fox Picture and Photo Gallery"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/hollywood/celebrites/megan_fox/celebrites_megan_fox.html">Megan Fox
         </A>
<br>
 	     <A 
           ALT="" 
		   TITLE="Hollywood Celebrites Neve Campbell Picture and Photo Gallery"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/hollywood/actress/neve_campbell/hollywood_neve_campbell.html">Neve Campbell
         </A>
<br>
 	     <A 
           ALT="" 
		   TITLE="Hollywood Celebrites Scarlett Johansson Picture and Photo Gallery"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/hollywood/actress/scarlett_johansson/hollywood_scarlett_johansson.html">Scarlett Johansson
         </A>
	   </td>

       <td WIDTH=20% BGCOLOR="#FFFFFF">
 	     <A 
           ALT="" 
		   TITLE="Adriana Lima Super Model Picture and Photo Gallery"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/models/adriana_lima/models_adriana_lima.html">Adriana Lima
         </A>
<br>
 	     <A 
           ALT="" 
		   TITLE="Super Model Alessandra Ambrosio Picture and Photo Gallery"
	       HREF="http://www.bollywoodmovies.us/models/alessandra_ambrosio/models_alessandra_ambrosio.html">Alessandra Ambrosio
         </A>
<br>
 	     <A 
           ALT="" 
		   TITLE="Cindy Crawford Super Model Picture and Photo Gallery"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/models/cindy_crawford/models_cindy_crawford.html">Cindy Crawford
         </A>
<br>
 	     <A 
           ALT="" 
		   TITLE="Claudia Schiffer Picture and Photo Gallery"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/models/claudia_schiffer/models_claudia_schiffer.html">Claudia Schiffer
         </A>
<br>
 	     <A 
           ALT="" 
		   TITLE="Elle Macpherson Picture and Photo Gallery"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/models/elle_macpherson/models_elle_macpherson.html">Elle Macpherson
         </A>
<br>
 	     <A 
           ALT="" 
		   TITLE="Gisele Bundchen Picture and Photo Gallery"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/models/gisele_bundchen/models_gisele_bundchen.html">Gisele Bundchen
         </A>
<br>
 	     <A 
           ALT="" 
		   TITLE="Heidi Klum Picture and Photo Gallery"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/models/heidi_klum/models_heidi_klum.html">Heidi Klum
         </A>
<br>
 	     <A 
           ALT="" 
		   TITLE="Super Model Laetitia Casta Picture and Photo Gallery"
	       HREF="http://www.bollywoodmovies.us/models/laetitia_casta/models_laetitia_casta.html">Laetitia Casta
         </A>
<br>
 	     <A 
           ALT="" 
		   TITLE="Super Model Paris Hilton Picture and Photo Gallery"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/models/paris_hilton/models_paris_hilton.html">Paris Hilton
         </A>
<br>
 	     <A 
           ALT="" 
		   TITLE="Tyra Banks Picture and Photo Gallery"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/models/tyra_banks/models_tyra_banks.html">Tyra Banks
         </A>
<br>
 	     <A 
           ALT="" 
		   TITLE="Victoria Silvstedt Picture and Photo Gallery"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/models/victoria_silvstedt/models_victoria_silvstedt.html">Victoria Silvstedt
         </A>
<br>
 	     <A 
           ALT="" 
		   TITLE="Vida Guerra Picture and Photo Gallery"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/models/vida_guerra/models_vida_guerra.html">Vida Guerra
         </A>
	   </td>
	   
       <td WIDTH=20% BGCOLOR="#FFFFFF">
 	     <A 
           ALT="" 
		   TITLE="Sport News, NBA Basketball, Picture Gallery"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/sports/basketball_nba/basketball_nba.html">Basketball
         </A>
<br>
 	     <A 
           ALT="" 
		   TITLE="Sport News, Cricket, Picture Gallery"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/sports/cricket/cricket.html">Cricket
         </A>
<br>
 	     <A 
           ALT="" 
		   TITLE="Sport News, Golf, Picture Gallery"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/sports/golf/golf.html">Golf
         </A>
<br>
 	     <A 
           ALT="" 
		   TITLE="Sport News, NFL Football, Picture Gallery"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/sports/football_nfl/football_nfl.html">Football
         </A>
<br>
 	     <A 
           ALT="" 
		   TITLE="Sport News, Tennis, Picture Gallery"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/sports/tennis/tennis.html">Tennis
         </A>
	   </td>
       
       <td WIDTH=20% BGCOLOR="#FFFFFF">
 	     <A 
           ALT="" 
		   TITLE="Cell Phones Models And Information"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/info/cell_phones.html">Cell Phones
         </A>
<br>   
 	     <A 
           ALT="" 
		   TITLE="Calling Cards News And Information"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/info/calling_cards.html">Calling Cards
         </A>
<br>   
 	     <A 
           ALT="" 
		   TITLE="Indian Festivals News And Information"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/info/indian_festivals.html">Indian Festivals
         </A>
<br>   
 	     <A 
           ALT="" 
		   TITLE="Kingfisher Swimsuit 2007 Photo and Picture Gallery"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/info/kingfisher_swimsuit_2007.html">Kingfisher Swimsuit 2007
         </A>
<br>   
 	     <A 
           ALT="" 
		   TITLE="Sport Cars Models And Information"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/info/cars.html">Sport Cars
         </A>
<br>   
 	     <A 
           ALT="" 
		   TITLE="Plasma LCD TV Models And Information"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/info/plasma_lcd_tv.html">Plasma LCD TV
         </A>
<br>   
 	     <A TARGET="_blank"
	       ALT="" 
	       HREF="http://dragons.buyallgifts.com/index.html" 
	       TITLE="Dragon Figurines, Dragon Statues, Dragon Sculptures, Chinese Pewter Dragon">Dragon Figurines
         </A>
		  <br>
 	     <A TARGET="_blank"
	       ALT="" 
	       HREF="http://home-decorations.buyallgifts.com/index.html" 
	       TITLE="Home Decorations Accents">Home Decorations
         </A>
		  <br>
 	     <A TARGET="_blank"
	       ALT="" 
	       HREF="http://garden-decorations.buyallgifts.com/index.html" 
	       TITLE="Garden Decorations, Lawn and Backyard Decir">Garden Decorations
         </A>
		  <br>
	   </td>
       <td WIDTH=20% BGCOLOR="#FFFFFF">
 	     <A 
           ALT="" 
		   TITLE="TV Shows, Indian Idol 3"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/indian_idol/season_3/indian_idol.html">Indian Idol 3
         </A>
		 <BR>
 	     <A 
           ALT="" 
		   TITLE="Sony TV Shows, Jhalak Dikhhla Jaa"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/tv_shows/jhalak_dikhhlaa_jaa/jhalak_dikhhlaa_jaa.html">Jhalak Dikhhla Jaa
         </A>
		 <BR>
 	     <A 
           ALT="" 
		   TITLE="Star Plus TV Shows, Kaun Banega Crorepati 2"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/tv_shows/kaun_banega_crorepati/kaun_banega_crorepati.html">Kaun Banega Crorepati 2
         </A>
		 <BR>
 	     <A 
           ALT="" 
		   TITLE="TV Shows, Koffee With Karan"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/tv_shows/koffee_with_karan/koffee_with_karan.html">Koffee With Karan
         </A>
		 <BR>
	   </td>
</tr>
</table>
<!-- NAVIGATION_END -->
	
	</td>
</tr>

<tr>
       <td width=170 valign="center" align="center">
	   </td>
	   
       <td width=730 valign="center" align="center">
<!-- Google Horizontal Banner -->
	   </td>

       <td width=0 valign="center" align="center">
	   </td>
</tr>

<tr bordercolor="white">
	<td width=100% align="left" colspan=3>
       <!-- Page Description -->
	   TAG_ACTRESS_LONG_DESC
<hr size="1" width="100%" align="left">	   
       <b>Other Facts:</b>
	   <br>
	   TAG_OTHER_FACTS
<hr size="1" width="100%" align="left">

<hr size="1" width="100%" align="left">   
       <b>Movies Worked On:</b>
	   <br>
	   TAG_FILMOGRAPHY_2006_MOVIE_RELEASES
	   <br>
	   TAG_FILMOGRAPHY_2004_2005_MOVIE_RELEASES
<hr size="1" width="100%" align="left">	   
       <b>Latest News:</b>
	   <br>
	   TAG_PHOTO_LATEST_NEWS
<hr size="1" width="100%" align="left">	   
	</td>
</tr>


<tr>
       <td width=900 colspan=3 align="left">
<BR>
TAG_H1_BANNER_ADS
	   </td>
</tr>

<tr bordercolor="white">
       <td width=700 colspan=2>
   	   TAG_THIS_SITE_CONTAINS_NO
	   </td>
       <td width=125>
	   </td>
</tr>

</table>

<!-- MIDDLE END -->

<p></p>

<!-- BOTTOM_START -->
<table cellspacing="0" border="1" bordercolor="white" id="Footer Table">

<tr>
       <td width=975 colspan=2>
TAG_OTHER_LATEST_NEWS
       </td> 
</tr>

<tr>
       <td width=975 colspan=2>
TAG_AD_WORDS
       </td> 
</tr>

<tr>
       <td align="left" width=900 colspan=2>
	   <!-- www.bollywoodmovies.us links to main pages -->
	   <table bgcolor='white'>
	   <tr>
	   <td width=175>
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us" 
	       TITLE="Bollywood Movies News, Picture Gallery">Bollywood Movies
         </A>
       </td>
	   <td width=75>
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/actress/bollywood_actress.html" 
	       TITLE="Bollywood Movies Actresses, Photo, Wallpaper, Picture Gallery, Indian, Hindi">Actresses
         </A>
	   </td>
	   <td width=75>
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/actor/bollywood_actor.html" 
	       TITLE="Bollywood Movies Actor, Photo, Wallpaper, Picture Gallery, Indian, Hindi">Actor
         </A>
	   </td>
	   <td width=135>
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/blog/index.html" 
	       TITLE="Bollywood Movies Blog">Bollywood Blog
         </A>
	   </td>
	   <td width=175>
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/news/news.html" 
	       TITLE="Bollywood Movies News">Bollywood News
         </A>
	   </td>
	   <td width=75>
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/sports/index.html" 
	       TITLE="Sports News and Information, Cricket">Sports
         </A>
	   </td>
	   <td width=100>
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/contact_us.html" 
	       TITLE="Bollywood Movies Contact Us">Contact Us
         </A>
	   </td>
	   <td width=75>
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/resources/resources.html" 
	       TITLE="Bollywood Movies Resources">Resources
         </A>
	   </td>
	   <td width=175>
 	     <A TARGET="_blank"
	       ALT="" 
	       HREF="http://home-decorations.buyallgifts.com/index.html" 
	       TITLE="Home Decorations, Garden Decoration, Office Decorations, Corporate Gifts Ideas">Home Decor
         </A>
	   </td>
	   </tr>
	   </table>		   
<!-- ---------------------------------------------------------- -->
	   </td>
</tr>


<tr>
    <td align="center" width=975 colspan=2>
<script language="javascript" type="text/javascript" src="http://www.bollywoodmovies.us/misc/footer.html"></script>
<!-- 
<IFRAME SRC="http://www.bollywoodmovies.us/misc/iframe_footer.html" WIDTH=700 HEIGHT=100 FRAMEBORDER=0 SCROLLING=YES>
</IFRAME>
-->
	</td>
</tr>

</table>
<!-- BOTTOM_END -->

</center>

<!-- Google Analytics Tracking -->
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-330539-2";
urchinTracker();
</script>

</body>
</html>

