<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
	<TITLE>Bollywood Movies: TAG_META_MOVIE_NAME Movie Review starring TAG_CAST_ACTOR_1 and TAG_CAST_ACTRESS_1, Hindi Movies Torrents and MP3 Downloads, Forthcoming, Movie Previews and Synopsis, Cinema, TAG_OTHER_KEYWORDS</TITLE>
    <META NAME="keywords" CONTENT="bollywood movies, latest movie releases and reviews, movie reviews and rating for TAG_META_MOVIE_NAME, TAG_CAST_ACTOR_1, TAG_CAST_ACTRESS_1 TAG_CAST_ACTRESS_OTHERS, TAG_CAST_ACTOR_OTHERS TAG_MOVIE_MUSIC_BY, TAG_MOVIE_DIRECTED_BY, forthcoming, ratings, torrents downloads, mp3 songs downloads, movie previews and synopsis, movie trailers, soundtrack, cinema, wallpaper, TAG_OTHER_KEYWORDS">
	<META NAME="description" CONTENT="Bollywood Movie reviews, movie trailers, movie previews, synopsis and ratings for latest and forthcoming release TAG_META_MOVIE_NAME starring TAG_CAST_ACTOR_1 and TAG_CAST_ACTRESS_1 with supporting role TAG_CAST_ACTRESS_OTHERS, TAG_CAST_ACTOR_OTHERS directed by TAG_MOVIE_DIRECTED_BY and music by TAG_MOVIE_MUSIC_BY. TAG_META_MOVIE_NAME MP3 soundtrack songs and movie cinema downloads via torrent.">
	<META NAME="robots" CONTENT="index,follow">
	<META CONTENT="all" NAME="robots">
</head>

<link rel=stylesheet type="text/css" href="http://www.bollywoodmovies.us/css/bollywoodmovies.css">
<!-- <body bgcolor="#FFFFFF" text="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" link="#000000" vlink="#551a8b" alink="#990099"> -->

<script type="text/javascript" src="http://www.bollywoodmovies.us/scripts/imagePopup.js"></script>

<!-- <script language="javascript" type="text/javascript" src="http://www.bollywoodmovies.us/misc/header.html"></script> -->

<!-- TOP START -->

<center>
<table border="1" cellspacing="0" cellpadding="0" bordercolor="white" id="Header Table">

<tr>
       <td width=150>
		   <A HREF="http://www.bollywoodmovies.us">
	   	   <IMG SRC="http://www.bollywoodmovies.us/images/bollywoodmovies_icon.jpg" 
		   ALT="Bollywood Movies News"
		   TITLE="Bollywood Movies News"
		   WIDTH="150" HEIGHT="100" BORDER="0"></A>
	   </td>
	   
       <td width=450 bordercolor="orange">
	   
	   <table bgcolor="white" border="0" cellspacing="0" cellpadding="0" bordercolor="orange">
	   <tr>
	   <td width=150 valign="top">
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us" 
	       TITLE="Bollywood Movies News, Picture Gallery">Home
         </A>
<br>
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/blog/index.html" 
	       TITLE="Bollywood Movies Blog">Blog
         </A>
<br>
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/news/news.html" 
	       TITLE="Bollywood Movies News">News
         </A>
<br>
 	     <A 
	       ALT="" 
		   TITLE="Bollywood Movies Feedback"
	       HREF="mailto:info@bollywoodmovies.us?subject=FEEDBACK: ">Feedback
         </A>
       </td>
	   <td width=150 valign="top">
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/actress/bollywood_actress.html" 
	       TITLE="Bollywood Movies Actresses, Biography, News, Picture Gallery, Indian, Hindi">Actresses
         </A>
<br>		 
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/actor/bollywood_actor.html" 
	       TITLE="Bollywood Movies Actor, Biography, News, Picture Gallery, Indian, Hindi">Actor
         </A>
<br>		 
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/movie_reviews/bollywood_movie_reviews.html" 
	       TITLE="Bollywood Latest and Forthcoming Movies Reviews">Movie Review
         </A>
<br>		 
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/movie_reviews/2006_bollywood_movies_releases_forthcoming.html" 
	       TITLE="Bollywood Movie Releases and Forthcoming for 2006">2006 Releases
         </A>
	   </td>
	   <td width=150 valign="top">
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/indian_idol/season_3/indian_idol.html" 
	       TITLE="TV Show Indian Idol 3 Latest News">Indian Idol 3
         </A>
<br>		 
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/contact_us.html" 
	       TITLE="Bollywood Movies Contact Us">Contact Us
         </A>
<br>		 
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/resources/resources.html" 
	       TITLE="Bollywood Movies Resources">Resources
         </A>
<br>		 
		  <a href="http://feeds.feedburner.com/BollywoodMovieNews" 
			 title="Subscribe to my feed, Bollywood Movie News, Latest Movie Releases" 
			 rel="alternate" type="application/rss+xml">
			 <img src="http://www.feedburner.com/fb/images/pub/feed-icon16x16.png" alt="" style="border:0"/>
		  </a>
	   </td>
	   </tr>
	   </table>		   

	   </td>
       <td width=300 valign="center" align="center" bordercolor="orange">
<!-- SiteSearch Google -->
<!-- SiteSearch Google -->
<form method="get" action="http://www.google.com/custom" target="_top">
<table border="0" bgcolor="#ffffff">
<tr><td nowrap="nowrap" valign="top" align="left" height="32">
<a href="http://www.google.com/">
<img src="http://www.google.com/logos/Logo_25wht.gif" border="0" alt="Google" align="middle"></img></a>
<br/>
<input type="hidden" name="domains" value="www.bollywoodmovies.us"></input>
<input type="text" name="q" size="31" maxlength="255" value=""></input>
<input type="submit" name="sa" value="Search"></input>
</td></tr>
<tr>
<td nowrap="nowrap">
<table>
<tr>
<td>
<input type="radio" name="sitesearch" value=""></input>
<font size="-1" color="black">Web</font>
</td>
<td>
<input type="radio" name="sitesearch" value="www.bollywoodmovies.us" checked="checked"></input>
<font size="-1" color="black">www.bollywoodmovies.us</font>
</td>
</tr>
</table>
<input type="hidden" name="client" value="pub-1819491998461859"></input>
<input type="hidden" name="forid" value="1"></input>
<input type="hidden" name="channel" value="9628527609"></input>
<input type="hidden" name="ie" value="ISO-8859-1"></input>
<input type="hidden" name="oe" value="ISO-8859-1"></input>
<input type="hidden" name="safe" value="active"></input>
<input type="hidden" name="cof" value="GALT:#008000;GL:1;DIV:#336699;VLC:663399;AH:center;BGC:FFFFFF;LBGC:336699;ALC:0000FF;LC:0000FF;T:000000;GFNT:0000FF;GIMP:0000FF;FORID:1;"></input>
<input type="hidden" name="hl" value="en"></input>
</td></tr></table>
</form>
<!-- SiteSearch Google -->
<!-- SiteSearch Google -->
	   </td>
</tr>

<tr>
       <td width=775 colspan=3>
<!-- Main Menu -->
<script type="text/javascript" src="http://www.bollywoodmovies.us/menu/milonic_src.js"></script>	
<div class=milonic><a href="http://www.milonic.com/">JavaScript Menu, DHTML Menu Powered By Milonic</a></div>
<script	type="text/javascript">
if(ns4)_d.write("<scr"+"ipt type=text/javascript src=http://www.bollywoodmovies.us/menu/mmenuns4.js><\/scr"+"ipt>");		
  else _d.write("<scr"+"ipt type=text/javascript src=http://www.bollywoodmovies.us/menu/mmenudom.js><\/scr"+"ipt>"); 
</script>
<script type="text/javascript" src="http://www.bollywoodmovies.us/menu/menu_data.js"></script>
	   </td>
</tr>

<tr>
       <td width=775 height=25 colspan=3>
	   <!-- Dynamic Menu Cover up this -->
	   </td>
</tr>

</table>
<!-- TOP END -->



<!-- TABLE_START_1 -->
<table width=900 cellspacing="0" border="1" bordercolor="orange" id="TBL_HEADER_1">

<tr>
    <td width=900 colspan=3 align="center" bgcolor="#f8f8ff">
<!-- Google H1 Banner -->
<script type="text/javascript"><!--
google_ad_client = "pub-1819491998461859";
google_ad_width = 728;
google_ad_height = 90;
google_ad_format = "728x90_as";
google_ad_type = "text_image";
google_ad_channel ="TAG_GOOGLE_H1_BANNER";
google_color_border = "FFFFFF";
google_color_bg = "f8f8ff";
google_color_link = "0000FF";
google_color_url = "008000";
google_color_text = "000000";
//--></script>
<script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
	</td>
</tr>

</table>	
<!-- TABLE_END_1 -->


<!-- MIDDLE_START -->
<table width=900 align="center" cellspacing="0" border="1" bordercolor="white" id="Middle Table">

<tr>
  <td width=900 height=30 colspan=2 cellspacing="0" align="center" valign="top" bgcolor="white" BORDERCOLOR="white">
    <b>Bollywood Movie Cinema Cast, Synopsis, Songs, Trailers, Previews, and Reviews for TAG_TITLE_MOVIE_NAME</b>
  </td>
</tr>

  <!-- REVIEW_START -->
  <TR>
    <TD WIDTH=120 VALIGN="top" ALIGN="left" BORDER="1" BORDERCOLOR="white">
	   <!-- Google Vertical Adlinks -->
<script type="text/javascript"><!--
google_ad_client = "pub-1819491998461859";
google_ad_width = 120;
google_ad_height = 90;
google_ad_format = "120x90_0ads_al_s";
google_ad_channel ="TAG_GOOGLE_ADLINKS";
google_color_border = "FFFFFF";
google_color_bg = "f8f8ff";
google_color_link = "0000FF";
google_color_url = "008000";
google_color_text = "000000";
//--></script>
<script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
		<br>
	<!-- Movie Picture -->
        <A HREF="#" 
		  onclick="ImagePopup('http://www.bollywoodmovies.us/movie_reviews/TAG_FILENAME_YEAR/pictures/TAG_IMAGE_NAME_01.jpg',500,500);return false;"> 
	   	  <IMG SRC="http://www.bollywoodmovies.us/movie_reviews/TAG_FILENAME_YEAR/pics/TAG_IMAGE_NAME_01.jpg" 
		  ALT="Bollywood Movies Reviews, TAG_ALT_MOVIE_NAME" 
		  TITLE="Bollywood Movies Reviews, TAG_TITLE_MOVIE_NAME" 
		  WIDTH="100" HEIGHT="100" BORDER="0">
        </A>
<br>
        <A HREF="http://www.bollywoodmovies.us/actor/TAG_FILENAME_CAST_ACTOR_1/bollywood_TAG_FILENAME_CAST_ACTOR_1_photo_gallery_01.html">
	   	  <IMG SRC="http://www.bollywoodmovies.us/actor/TAG_FILENAME_CAST_ACTOR_1/pics/TAG_FILENAME_CAST_ACTOR_1_01.jpg"
		  ALT="Bollywood Actresses Picture Gallery TAG_CAST_ACTOR_1"
		  TITLE="Bollywood Actresses Picture Gallery TAG_CAST_ACTOR_1"
		  WIDTH="100" HEIGHT="100" BORDER="0">
        </A>
<br>
        <A HREF="http://www.bollywoodmovies.us/actress/TAG_FILENAME_CAST_ACTRESS_1/bollywood_TAG_FILENAME_CAST_ACTRESS_1_photo_gallery_01.html">
	   	  <IMG SRC="http://www.bollywoodmovies.us/actress/TAG_FILENAME_CAST_ACTRESS_1/pics/TAG_FILENAME_CAST_ACTRESS_1_01.jpg"
		  ALT="Bollywood Actresses Picture Gallery TAG_CAST_ACTRESS_1"
		  TITLE="Bollywood Actresses Picture Gallery TAG_PERSOTAG_CAST_ACTRESS_1N_NAME"
		  WIDTH="100" HEIGHT="100" BORDER="0">
        </A>
<br>
TAG_LEFT_V1_BANNER_ADS	
	</TD>
	
	<TD WIDTH=780 VALIGN="top" ALIGN="left" BORDER="1" BORDERCOLOR="orange" bgcolor="white">
	<table>
	<tr VALIGN="top">
	<td WIDTH=600 VALIGN="top">
	     <b>
		   TAG_META_MOVIE_NAME (TAG_FILENAME_YEAR)
	     </b>
<hr size="1" width="100%">
		 <b><i>Release Date:</i></b> TAG_MOVIE_RELEASE_DATE
		 <br>
	     <b>Cast/Starring: </b>
		 <br>
	     <b>Actors: </b>.....
 	     <A 
           ALT="" 
		   TITLE="Bollywood Movie Review, TAG_CAST_ACTOR_1"
	       HREF="http://www.bollywoodmovies.us/actor/TAG_FILENAME_CAST_ACTOR_1/bollywood_TAG_FILENAME_CAST_ACTOR_1_photo_gallery_01.html">TAG_CAST_ACTOR_1
         </A>
		 , TAG_CAST_ACTOR_OTHERS
		 <br>
	     <b>Actress: </b>.....
 	     <A 
           ALT="" 
		   TITLE="Bollywood Movie Review, TAG_CAST_ACTRESS_1"
	       HREF="http://www.bollywoodmovies.us/actress/TAG_FILENAME_CAST_ACTRESS_1/bollywood_TAG_FILENAME_CAST_ACTRESS_1_photo_gallery_01.html">TAG_CAST_ACTRESS_1
         </A>
		 TAG_CAST_ACTRESS_OTHERS
		 <br>
		TAG_CAST_OTHERS_LINKS
<hr size="1" width="100%">
<table WIDTH=100%>
<tr>
  <td WIDTH=20%>
  	  <b>Genre: </b> 
  </td>
  <td WIDTH=80%>
      TAG_GENRE
  </td>
</tr>

<tr>
  <td WIDTH=20%>
  	  <b>Directed By: </b> 
  </td>
  <td WIDTH=80%>
      TAG_MOVIE_DIRECTED_BY
  </td>
</tr>

<tr>
  <td WIDTH=20%>
  	  <b>Music By: </b> 
  </td>
  <td WIDTH=80%>
      TAG_MOVIE_MUSIC_BY (TAG_MOVIE_MUSIC_LINK_BY)
  </td>
</tr>

<tr>
  <td WIDTH=20%>
  	  <b>Lyrics By: </b> 
  </td>
  <td WIDTH=80%>
      TAG_MOVIE_LYRICS_BY (TAG_MOVIE_LYRICS_LINK_BY)
<hr size="1" width="100%">
  </td>
</tr>

<tr>
  <td WIDTH=20%>
  	  <b>Ratings: </b> 
  </td>
  <td WIDTH=80%>
  	  <IMG SRC="http://www.bollywoodmovies.us/images/stars_TAG_MOVIE_RATING.jpg" 
	   ALT="Bollywood Movies Rating for TAG_META_MOVIE_NAME"
	   TITLE="Bollywood Movies Rating for TAG_META_MOVIE_NAME"
	   BORDER="0">
<hr size="1" width="100%">
  </td>
</tr>

<tr>
  <td WIDTH=20%>
  	  <b>Shooting Locations: 
  </td>
  <td WIDTH=80%>
     </b> TAG_SHOOTING_LOCATIONS </b>
<hr size="1" width="100%">
  </td>
</tr>

<tr>
  <td WIDTH=80% bgcolor="#FFFFFF" colspan=2>
  	 <center>
  	 <b>Movie Synopsis: </b>
  	 </center>
     TAG_MAIN_SYNOPSIS_1
<hr size="1" width="100%">
  </td>
</tr>

<tr>
  <td WIDTH=100% bgcolor="#FFFFFF" colspan=2>
  	 <center>
  	 <b>Movie Review: </b>
  	 </center>
         TAG_MAIN_REVIEW_1
<hr size="1" width="100%">
  </td>
</tr>

<tr>
  <td WIDTH=100% bgcolor="#FFFFFF" colspan=2>
  	 <center>
  	 <b>Movie Songs: </b>
  	 </center>
         TAG_MOVIE_SONG_1
		 <br>
         TAG_MOVIE_SONG_2
		 <br>
		 TAG_MOVIE_SONG_3
		 <br>
		 TAG_MOVIE_SONG_4
  </td>
</tr>

<tr>
  <td WIDTH=100% bgcolor="#FFFFFF" colspan=2>
  
<!-- MOVIE_TORRENT_START -->
<table WIDTH=100% VALIGN="top" border="1" cellspacing="0" cellpadding="0">

<tr VALIGN="top">
       <td WIDTH=50% BGCOLOR="#e6e6fa">
	     <b><font color="#0000FF">Movie Torrent</font></b>
	   </td>
       <td WIDTH=50% BGCOLOR="#e6e6ff">
	     <b><font color="#0000FF">Songs MP3</font></b>
	   </td>
</tr>
<tr VALIGN="top">
       <td WIDTH=50% BGCOLOR="#ffffff" BORDERCOLOR="#e6e6fa">
 	         <A 
               ALT="" 
		       TITLE="Bollywood Movie TAG_ALT_MOVIE_NAME Torrent Free Downloads"
			   TARGET="_blank"
	           HREF="http://www.google.com/custom?hl=en&lr=&ie=ISO-8859-1&oe=ISO-8859-1&safe=active&client=pub-1819491998461859&channel=9628527609&cof=FORID%3A1%3BGL%3A1%3BBGC%3AFFFFFF%3BT%3A%23000000%3BLC%3A%230000ff%3BVLC%3A%23663399%3BALC%3A%230000ff%3BGALT%3A%23008000%3BGFNT%3A%230000ff%3BGIMP%3A%230000ff%3BDIV%3A%23336699%3BLBGC%3A336699%3BAH%3Acenter%3B&domains=www.bollywoodmovies.us&q=torrent&btnG=Search&sitesearch=">Movie Search
             </A>
		 <br>
 	         <A 
               ALT="" 
		       TITLE="Bollywood Movie TAG_ALT_MOVIE_NAME Torrent Free Downloads"
			   TARGET="_blank"
	           HREF="http://www.google.com/custom?hl=en&lr=&ie=ISO-8859-1&oe=ISO-8859-1&safe=active&client=pub-1819491998461859&channel=9628527609&cof=FORID%3A1%3BGL%3A1%3BBGC%3AFFFFFF%3BT%3A%23000000%3BLC%3A%230000ff%3BVLC%3A%23663399%3BALC%3A%230000ff%3BGALT%3A%23008000%3BGFNT%3A%230000ff%3BGIMP%3A%230000ff%3BDIV%3A%23336699%3BLBGC%3A336699%3BAH%3Acenter%3B&domains=www.bollywoodmovies.us&q=TAG_TORRENT_HTML_1+bollywood+torrent&btnG=Search&sitesearch=">TAG_TORRENT_1
             </A>
		 <br>
 	         <A 
               ALT="" 
		       TITLE="Bollywood Movie TAG_ALT_MOVIE_NAME Torrent Free Downloads"
			   TARGET="_blank"
	           HREF="TAG_TORRENT_HTML_2">TAG_TORRENT_2
             </A>
		 <br>
 	         <A 
               ALT="" 
		       TITLE="Bollywood Movie TAG_ALT_MOVIE_NAME Torrent Free Downloads"
			   TARGET="_blank"
	           HREF="TAG_TORRENT_HTML_3">TAG_TORRENT_3
             </A>
		 <br>
 	         <A 
               ALT="" 
		       TITLE="Bollywood Movie TAG_ALT_MOVIE_NAME Torrent Free Downloads"
			   TARGET="_blank"
	           HREF="TAG_TORRENT_HTML_4">TAG_TORRENT_4
             </A>
	   </td>
       <td WIDTH=50% BGCOLOR="#ffffff" BORDERCOLOR="#e6e6fa">
	   <!-- Torrent Downloads -->
 	         <A 
               ALT="" 
	           TITLE="Bollywood Movie TAG_ALT_MOVIE_NAME Soundtrack and Music MP3 Torrent Free Downloads" 
			   TARGET="_blank"
	           HREF="http://www.google.com/custom?hl=en&lr=&ie=ISO-8859-1&oe=ISO-8859-1&safe=active&client=pub-1819491998461859&channel=9628527609&cof=FORID%3A1%3BGL%3A1%3BBGC%3AFFFFFF%3BT%3A%23000000%3BLC%3A%230000ff%3BVLC%3A%23663399%3BALC%3A%230000ff%3BGALT%3A%23008000%3BGFNT%3A%230000ff%3BGIMP%3A%230000ff%3BDIV%3A%23336699%3BLBGC%3A336699%3BAH%3Acenter%3B&domains=www.bollywoodmovies.us&q=torrent&btnG=Search&sitesearch=">Music Search
             </A>
		 <br>
 	         <A 
               ALT="" 
	           TITLE="Bollywood Movie TAG_ALT_MOVIE_NAME Soundtrack and Music MP3 Torrent Free Downloads" 
			   TARGET="_blank"
	           HREF="http://www.google.com/custom?hl=en&lr=&ie=ISO-8859-1&oe=ISO-8859-1&safe=active&client=pub-1819491998461859&channel=9628527609&cof=FORID%3A1%3BGL%3A1%3BBGC%3AFFFFFF%3BT%3A%23000000%3BLC%3A%230000ff%3BVLC%3A%23663399%3BALC%3A%230000ff%3BGALT%3A%23008000%3BGFNT%3A%230000ff%3BGIMP%3A%230000ff%3BDIV%3A%23336699%3BLBGC%3A336699%3BAH%3Acenter%3B&domains=www.bollywoodmovies.us&q=TAG_MP3_HTML_1+bollywood+torrent&btnG=Search&sitesearch=">TAG_MP3_1
             </A>
		 <br>
 	         <A 
               ALT="" 
	           TITLE="Bollywood Movie TAG_ALT_MOVIE_NAME Soundtrack and Music MP3 Torrent Free Downloads" 
			   TARGET="_blank"
	           HREF="TAG_MP3_HTML_2">TAG_MP3_2
             </A>
		 <br>
 	         <A 
               ALT="" 
	           TITLE="Bollywood Movie TAG_ALT_MOVIE_NAME Soundtrack and Music MP3 Torrent Free Downloads" 
			   TARGET="_blank"
	           HREF="TAG_MP3_HTML_3">TAG_MP3_3
             </A>
	   </td>
</tr>
</table>  
<!-- MOVIE_TORRENT_END -->

  </td>
</tr>

</table>

	</td>
	
	<td>

	
<!-- Google Wide Skyscraper -->
<script type="text/javascript"><!--
google_ad_client = "pub-1819491998461859";
google_ad_width = 160;
google_ad_height = 600;
google_ad_format = "160x600_as";
google_ad_type = "text_image";
google_ad_channel ="TAG_GOOGLE_MED_BANNER";
google_color_border = "FFFFFF";
google_color_bg = "f8f8ff";
google_color_link = "0000FF";
google_color_url = "008000";
google_color_text = "000000";
//--></script>
<script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
	</td>

	</tr>
	</table>
	
	</TD>
  </TR>
  <!-- REVIEW_END --> 
  
  <!-- PICTURE_GALLRY_START -->
  <TR>
    <TD WIDTH=120 VALIGN="top" ALIGN="left" BORDER="1" BORDERCOLOR="white">
	<b><font color="#ff0000">Picture Gallery</font></b>
	</TD>
	
	<TD WIDTH=780 VALIGN="top" ALIGN="left" BORDER="1" BORDERCOLOR="white" bgcolor="white">
TAG_MAIN_REVIEW_2
	</TD>
  </TR>
  <!-- PICTURE_GALLRY_END -->

  <!-- BANNER_START -->
  <TR>
	<TD WIDTH=100% colspan=2 VALIGN="top" ALIGN="left" BORDER="1" BORDERCOLOR="white" bgcolor="white">

<table WIDTH=100% VALIGN="top">

<tr VALIGN="top">
       <td WIDTH=20% BGCOLOR="#e6e6fa">
	     <b><font color="#ff0000">Hollywood Celebrity</font></b>
	   </td>
       <td WIDTH=20% BGCOLOR="#87ceeb">
	     <b><font color="#ff0000">Models</font></b>
	   </td>
       <td WIDTH=20% BGCOLOR="#66cdaa">
	     <b><font color="#ff0000">Sport News</font></b>
	   </td>
       <td WIDTH=20% BGCOLOR="#eee8aa">
	     <b><font color="#ff0000">Misc</font></b>
	   </td>
       <td WIDTH=20% BGCOLOR="#eee8dd">
	     <b><font color="#ff0000">TV Shows</font></b>
	   </td>
</tr>
<tr VALIGN="top">
       <td WIDTH=20% BGCOLOR="#FFFFFF">
 	     <A 
           ALT="" 
		   TITLE="Angelina Jolie Picture and Photo Gallery"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/hollywood/actress/angelina_jolie/hollywood_angelina_jolie.html">Angelina Jolie
         </A>
<br>
 	     <A 
           ALT="" 
		   TITLE="Britney Spears Picture and Photo Gallery"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/hollywood/artists/britney_spears/hollywood_britney_spears.html">Britney Spears
         </A>
<br>
 	     <A 
           ALT="" 
		   TITLE="Eva Longoria Picture and Photo Gallery"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/hollywood/actress/eva_longoria/hollywood_eva_longoria.html">Eva Longoria
         </A>
<br>
 	     <A 
           ALT="" 
		   TITLE="Halle Berry Picture and Photo Gallery"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/hollywood/actress/halle_berry/hollywood_halle_berry.html">Halle Berry
         </A>
<br>
 	     <A 
           ALT="" 
		   TITLE="Jennifer Lopez Picture and Photo Gallery"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/hollywood/actress/jennifer_lopez/hollywood_jennifer_lopez.html">Jennifer Lopez
         </A>
<br>
 	     <A 
           ALT="" 
		   TITLE="Jessica Alba Picture and Photo Gallery"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/hollywood/actress/jessica_alba/hollywood_jessica_alba.html">Jessica Alba
         </A>
<br>
 	     <A 
           ALT="" 
		   TITLE="Neve Campbell Picture and Photo Gallery"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/hollywood/actress/neve_campbell/hollywood_neve_campbell.html">Neve Campbell
         </A>
<br>
 	     <A 
           ALT="" 
		   TITLE="Scarlett Johansson Picture and Photo Gallery"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/hollywood/actress/scarlett_johansson/hollywood_scarlett_johansson.html">Scarlett Johansson
         </A>
	   </td>

       <td WIDTH=20% BGCOLOR="#FFFFFF">
 	     <A 
           ALT="" 
		   TITLE="Cindy Crawford Picture and Photo Gallery"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/models/cindy_crawford/models_cindy_crawford.html">Cindy Crawford
         </A>
<br>
 	     <A 
           ALT="" 
		   TITLE="Claudia Schiffer Picture and Photo Gallery"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/models/claudia_schiffer/models_claudia_schiffer.html">Claudia Schiffer
         </A>
<br>
 	     <A 
           ALT="" 
		   TITLE="Elle Macpherson Picture and Photo Gallery"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/models/elle_macpherson/models_elle_macpherson.html">Elle Macpherson
         </A>
<br>
 	     <A 
           ALT="" 
		   TITLE="Gisele Bundchen Picture and Photo Gallery"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/models/gisele_bundchen/models_gisele_bundchen.html">Gisele Bundchen
         </A>
<br>
 	     <A 
           ALT="" 
		   TITLE="Heidi Klum Picture and Photo Gallery"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/models/heidi_klum/models_heidi_klum.html">Heidi Klum
         </A>
<br>
 	     <A 
           ALT="" 
		   TITLE="Super Model Paris Hilton Picture and Photo Gallery"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/models/paris_hilton/models_paris_hilton.html">Paris Hilton
         </A>
<br>
 	     <A 
           ALT="" 
		   TITLE="Tyra Banks Picture and Photo Gallery"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/models/tyra_banks/models_tyra_banks.html">Tyra Banks
         </A>
	   </td>
	   
       <td WIDTH=20% BGCOLOR="#FFFFFF">
 	     <A 
           ALT="" 
		   TITLE="Sport News, NBA Basketball, Picture Gallery"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/sports/basketball_nba/basketball_nba.html">Basketball
         </A>
<br>
 	     <A 
           ALT="" 
		   TITLE="Sport News, Cricket, Picture Gallery"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/sports/cricket/cricket.html">Cricket
         </A>
<br>
 	     <A 
           ALT="" 
		   TITLE="Sport News, Golf, Picture Gallery"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/sports/golf/golf.html">Golf
         </A>
<br>
 	     <A 
           ALT="" 
		   TITLE="Sport News, NFL Football, Picture Gallery"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/sports/football_nfl/football_nfl.html">Football
         </A>
<br>
 	     <A 
           ALT="" 
		   TITLE="Sport News, Tennis, Picture Gallery"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/sports/tennis/tennis.html">Tennis
         </A>
	   </td>
       
       <td WIDTH=20% BGCOLOR="#FFFFFF">
 	     <A 
           ALT="" 
		   TITLE="Bird Flu News And Information"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/info/bird_flu.html">Bird Flu
         </A>
<br>   
 	     <A 
           ALT="" 
		   TITLE="Calling Cards News And Information"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/info/calling_cards.html">Calling Cards
         </A>
<br>   
 	     <A 
           ALT="" 
		   TITLE="Indian Festivals News And Information"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/info/indian_festivals.html">Indian Festivals
         </A>
<br>   
 	     <A 
           ALT="" 
		   TITLE="Kingfisher Swimsuit 2007 Photo and Picture Gallery"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/info/kingfisher_swimsuit_2007.html">Kingfisher Swimsuit 2007
         </A>
<br>   
 	     <A 
           ALT="" 
		   TITLE="Sport Cars Models And Information"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/info/cars.html">Sport Cars
         </A>
<br>   
 	     <A 
           ALT="" 
		   TITLE="Plasma LCD TV Models And Information"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/info/plasma_lcd_tv.html">Plasma LCD TV
         </A>
<br>   
 	     <A 
           ALT="" 
		   TITLE="Yoga News And Information"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/info/yoga.html">Yoga
         </A>
		  <br>
 	     <A 
           ALT="" 
		   TITLE="Playstation 3, Playstation 2, Xbox 360, Wii"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/info/video_game_player.html">Video Game Player
         </A>
		  <br>
 	     <A 
           ALT="" 
		   TITLE="Apple IPod, Apple IPod Mini, Microsoft Zune, MP3 Players"
		   TARGET="_blank"
	       HREF="http://astore.amazon.com/mp3_players-20/index.html">IPod, Zune MP3 Player
         </A>
	   </td>
       <td WIDTH=20% BGCOLOR="#FFFFFF">
 	     <A 
           ALT="" 
		   TITLE="TV Shows, Indian Idol 3"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/indian_idol/season_3/indian_idol.html">Indian Idol 3
         </A>
		 <BR>
 	     <A 
           ALT="" 
		   TITLE="Sony TV Shows, Jhalak Dikhhla Jaa"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/tv_shows/jhalak_dikhhlaa_jaa/jhalak_dikhhlaa_jaa.html">Jhalak Dikhhla Jaa
         </A>
		 <BR>
 	     <A 
           ALT="" 
		   TITLE="Star Plus TV Shows, Kaun Banega Crorepati 2"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/tv_shows/kaun_banega_crorepati/kaun_banega_crorepati.html">Kaun Banega Crorepati 2
         </A>
		 <BR>
 	     <A 
           ALT="" 
		   TITLE="TV Shows, Koffee With Karan"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/tv_shows/koffee_with_karan/koffee_with_karan.html">Koffee With Karan
         </A>
		 <BR>
	   </td>
</tr>
</table>

	</TD>
  </TR>
  <!-- BANNER_END -->
  
<!-- Google H1 Banner Start -->
  <TR>
	<TD WIDTH=900 HEIGHT=100 VALIGN="top" ALIGN="center" BORDER="1" BORDERCOLOR="orange" bgcolor="#f8f8ff" colspan=2>
<script type="text/javascript"><!--
google_ad_client = "pub-1819491998461859";
google_ad_width = 728;
google_ad_height = 90;
google_ad_format = "728x90_as";
google_ad_type = "image";
google_ad_channel ="TAG_GOOGLE_H2_BANNER";
google_color_border = "FFFFFF";
google_color_bg = "f8f8ff";
google_color_link = "0000FF";
google_color_url = "008000";
google_color_text = "000000";
//--></script>
<script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
	</TD>
  </TR>
<!-- Google H1 Banner End -->

  <!-- NEWS_START -->
  <TR>
	<TD WIDTH=900 VALIGN="top" ALIGN="center" BORDER="1" BORDERCOLOR="#e6e6fa" bgcolor="#e6e6fa" colspan=2>
	    <font face="courier new" color="#0000ff" size="3"><b>Latest News for Bollywood Movie TAG_META_MOVIE_NAME:</b></font>
	</TD>
  </TR>
  <!-- NEWS_END -->

  <!-- NEWS_START -->
  <TR>
	<TD WIDTH=900 VALIGN="top" ALIGN="left" BORDER="1" BORDERCOLOR="#e6e6fa" bgcolor="#f7f7f7" colspan=2>
         TAG_MOVIE_NEWS
	</TD>
  </TR>
  <!-- NEWS_END -->

  <!-- 1_START -->
  <TR>
	<TD WIDTH=900 VALIGN="top" ALIGN="left" BORDER="1" BORDERCOLOR="#e6e6fa" bgcolor="white" colspan=2>
         TAG_TODAYS_NEWS
	</TD>
  </TR>
  <!-- 2_END -->
  
</table>	
<!-- MIDDLE_END -->

<br>
<br>

<!-- BOTTOM START -->
<table width=900 cellspacing="0" border="1" bordercolor="orange" id="Footer Table">

<tr bordercolor="white">
       <td width=100% colspan=2>
   	   	   TAG_THIS_SITE_CONTAINS_NO
		   <br>
		   TAG_AD_WORDS
	   </td>
</tr>

<tr bordercolor="white">
       <td width=900 colspan=2>
	   <table>
	   <tr>
	   <td>
 	     <A TARGET="_blank"
	       ALT="" 
	       HREF="http://www.tazdir.com/index.html" 
	       TITLE="The A To Z Directory">The A To Z Directory
         </A>
		 ...
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/torrent/torrents_2006.html" 
	       TITLE="Bollywood Movies Songs MP3 Torrents">Torrents 2006
         </A>	   
	   </td>
	   <td>
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/torrent/torrents_2007.html" 
	       TITLE="Bollywood Movies Songs MP3 Torrents">Torrents 2007
         </A>	   
	   </td>
	   <td>
 	     <A TARGET="_blank"
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/info/calling_cards.html" 
	       TITLE="Calling Cards">Calling Cards
         </A>	   
	   </td>
	   <td>
 	     <A TARGET="_blank"
	       ALT="" 
	       HREF="http://www.hotbreadsmddc.com/" 
	       TITLE="Hot Breads in Kentlands, Gaithersburg, Maryland MD, Eggless Birthday Cakes, Cookies, Pastry">Hot Breads, Kentlands, Gaithersburg, MD
         </A>
	   </td>
	   <td>
	   	   <a href="http://misterlinker.com">Mister Linker</a>	   
	   </td>
	   </tr>
	   </table>
       </td> 
</tr>

<tr>
       <td align="left" width=900 colspan=2>
<!-- ---------------------------------------------------------- -->
	  <A 
	     ALT="" 
	     HREF="http://store.buyallgifts.com/homedecor.html"
	     TITLE="Unique Home Decorations">Home Decorations Collection includes 
      </A>
          <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
	  <A 
	     ALT="" 
	     HREF="http://store.buyallgifts.com/inthewild.html"
	     TITLE="Wholesale Animal Figurines, Cheap Price">Animal Figurines
      </A>
		  , 
	  <A 
	     ALT="" 
	     HREF="http://store.buyallgifts.com/birdfigurines.html"
	     TITLE="Wholesale Bird Figurines, Cheap Price">Bird Figurines
      </A>
		  , 
	  <A 
	     ALT="" 
	     HREF="http://store.buyallgifts.com/bookends.html"
	     TITLE="Wholesale Unique Bookends, Cheap Price">Bookends
      </A>
		  , 
	  <A 
	     ALT="" 
	     HREF="http://store.buyallgifts.com/candles1.html"
	     TITLE="Wholesale Candles, Cheap Price">Candles
      </A>
		  , 
	  <A 
	     ALT="" 
	     HREF="http://store.buyallgifts.com/candleholders.html"
	     TITLE="Wholesale Candle Holders, Cheap Price">Candle Holders
      </A>
		  , 
	  <A 
	     ALT="" 
	     HREF="http://store.buyallgifts.com/clocks.html"
	     TITLE="Wholesale Wall and Desk Clocks, Cheap Price">Clocks
      </A>
		  , 
	  <A 
	     ALT="" 
	     HREF="http://store.buyallgifts.com/dragon.html"
	     TITLE="Wholesale Chinese Dragon Figurines, Cheap Price">Chinese Dragon Figurines
      </A>
		  , 
	  <A 
	     ALT="" 
	     HREF="http://store.buyallgifts.com/frames.html"
	     TITLE="Wholesale Frames, Cheap Price">Frames
      </A>
		  , 
	  <A 
	     ALT="" 
	     HREF="http://store.buyallgifts.com/fountain.html"
	     TITLE="Wholesale Indoor Fountains, Cheap Price">Indoor Fountains
      </A>
		  , 
	  <A 
	     ALT="" 
	     HREF="http://store.buyallgifts.com/japanesedolls.html"
	     TITLE="Wholesale Japanese Dolls, Cheap Price">Japanese Dolls
      </A>
		  , 
	  <A 
	     ALT="" 
	     HREF="http://store.buyallgifts.com/keyholders.html"
	     TITLE="Wholesale Key Holders, Cheap Price">Key Holders
      </A>
		  , 
	  <A 
	     ALT="" 
	     HREF="http://store.buyallgifts.com/lighthouses.html"
	     TITLE="Wholesale Lighthouses, Cheap Price">Lighthouses
      </A>
		  , 
	  <A 
	     ALT="" 
	     HREF="http://store.buyallgifts.com/oilwarmer.html"
	     TITLE="Wholesale Oil Warmer, Cheap Price">Oil Warmer
      </A>
		  , 
	  <A 
	     ALT="" 
	     HREF="http://store.buyallgifts.com/pillows.html"
	     TITLE="Wholesale Pillows, Cheap Price">Pillows
      </A>
		  , 
	  <A 
	     ALT="" 
	     HREF="http://store.buyallgifts.com/tables.html"
	     TITLE="Wholesale Table, Cheap Price">Table
      </A>
		  , 
	  <A 
	     ALT="" 
	     HREF="http://store.buyallgifts.com/vases.html"
	     TITLE="Wholesale Vases, Cheap Price">Vases
      </A>
		  , 
	  <A 
	     ALT="" 
	     HREF="http://store.buyallgifts.com/wallplaques.html"
	     TITLE="Wholesale Wall Plaques, Cheap Price">Wall Plaques
      </A>
		  , 
	  <A 
	     ALT="" 
	     HREF="http://store.buyallgifts.com/wallmirrors.html"
	     TITLE="Wholesale Wall Mirrors, Cheap Price">Wall Mirrors
      </A>
		  , 
	  <A 
	     ALT="" 
	     HREF="http://store.buyallgifts.com/wallshelfs.html"
	     TITLE="Wholesale Wall Shelfs, Cheap Price">Wall Shelfs
      </A>
	      </font>
<!-- ---------------------------------------------------------- -->
<hr size="1" width="100%">
	  <A 
	     ALT="" 
	     HREF="http://store.buyallgifts.com/gardendecor.html"
	     TITLE="Unique Home Decorations">Garden Decorations collection includes 
      </A>
          <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
	  <A 
	     ALT="" 
	     HREF="http://store.buyallgifts.com/birdhouses.html"
	     TITLE="Wholesale Bird Houses, Cheap Price">Bird Houses
      </A>
		  , 
	  <A 
	     ALT="" 
	     HREF="http://store.buyallgifts.com/birdfeeders.html"
	     TITLE="Wholesale Bird Feeders, Cheap Price">Bird Feeders
      </A>
		  , 
	  <A 
	     ALT="" 
	     HREF="http://store.buyallgifts.com/birdbath.html"
	     TITLE="Wholesale Birdbath, Cheap Price">Birdbath
      </A>
		  , 
	  <A 
	     ALT="" 
	     HREF="http://store.buyallgifts.com/fountains.html"
	     TITLE="Wholesale Fountains, Cheap Price">Fountains
      </A>
		  , 
	  <A 
	     ALT="" 
	     HREF="http://store.buyallgifts.com/plaques.html"
	     TITLE="Wholesale Plaques, Cheap Price">Plaques
      </A>
		  , 
	  <A 
	     ALT="" 
	     HREF="http://store.buyallgifts.com/plantstands.html"
	     TITLE="Wholesale Plant Stands, Cheap Price">Plant Stands
      </A>
		  , 
	  <A 
	     ALT="" 
	     HREF="http://store.buyallgifts.com/suncatcher.html"
	     TITLE="Wholesale Sun Catcher, Cheap Price">Sun Catcher
      </A>
		  , 
	  <A 
	     ALT="" 
	     HREF="http://store.buyallgifts.com/windchimes.html"
	     TITLE="Wholesale Wind Chimes, Cheap Price">Wind Chimes
      </A>
	      </font>
<hr size="1" width="100%">
	  <A 
	     ALT="" 
	     HREF="http://store.buyallgifts.com/inthewild.html"
	     TITLE="Wholesale Animal Figurines, Cheap Price">Animal Figurines collection includes 
      </A>
          <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
	  <A 
	     ALT="" 
	     HREF="http://store.buyallgifts.com/elephants.html"
	     TITLE="Wholesale Elephant Figurines, Cheap Price">Elephant Figurines
      </A>
		  , 
	  <A 
	     ALT="" 
	     HREF="http://store.buyallgifts.com/sapa.html"
	     TITLE="Wholesale Safari Patchworks, Cheap Price">Safari Patchworks
      </A>
		  , 
	  <A 
	     ALT="" 
	     HREF="http://store.buyallgifts.com/tigers.html"
	     TITLE="Wholesale Tiger Figurines, Cheap Price">Tiger Figurines
      </A>
		  , 
	  <A 
	     ALT="" 
	     HREF="http://store.buyallgifts.com/giraffes.html"
	     TITLE="Wholesale Giraffe Figurines, Cheap Price">Giraffe Figurines
      </A>
		  , 
	  <A 
	     ALT="" 
	     HREF="http://store.buyallgifts.com/monkeys.html"
	     TITLE="Wholesale Monkey Figurines, Cheap Price">Monkey Figurines
      </A>
		  , 
	  <A 
	     ALT="" 
	     HREF="http://store.buyallgifts.com/wolves.html"
	     TITLE="Wholesale Wolf Figurines, Cheap Price">Wolf Figurines
      </A>
		  , 
	  <A 
	     ALT="" 
	     HREF="http://store.buyallgifts.com/dolphins1.html"
	     TITLE="Wholesale Dolphins Figurines, Cheap Price">Dolphins Figurines
      </A>
		  , 
	  <A 
	     ALT="" 
	     HREF="http://store.buyallgifts.com/unicorn.html"
	     TITLE="Wholesale Unicorn Figurines, Cheap Price">Unicorn Figurines
      </A>
	      </font>
<hr size="1" width="100%">
	  <A 
	     ALT="" 
	     HREF="http://store.buyallgifts.com/seasonal.html"
	     TITLE="Unique Home Decorations">Seasonal Decorations includes 
      </A>
          <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
	  <A 
	     ALT="" 
	     HREF="http://store.buyallgifts.com/americanpride.html"
	     TITLE="Seasonal Decor, Holiday, 4th Of July Gifts and Decorations">4th Of July
      </A>
		  , 
	  <A 
	     ALT="" 
	     HREF="http://store.buyallgifts.com/christmasitems.html"
	     TITLE="Seasonal Decor, Holiday, Christmas Gifts and Decorations">Christmas
      </A>
		  , 
	  <A 
	     ALT="" 
	     HREF="http://store.buyallgifts.com/halloween.html"
	     TITLE="Seasonal Decor, Holiday, Halloween Decorations">Halloween
      </A>
		  , 
	  <A 
	     ALT="" 
	     HREF="http://store.buyallgifts.com/valentinesday.html"
	     TITLE="Seasonal Decor, Holiday, Valentine's Day Gifts">Valentine's Day
      </A>
	      </font>
	   </td>
</tr>


<tr bordercolor="white">
    <td align="center" width=100% colspan=2>
<script language="javascript" type="text/javascript" src="http://www.bollywoodmovies.us/misc/footer.html"></script>	
<!-- 
<IFRAME SRC="http://www.bollywoodmovies.us/misc/iframe_footer.html" WIDTH=700 HEIGHT=100 FRAMEBORDER=0 SCROLLING=YES>
</IFRAME>
-->
	</td>
</tr>

</table>

<!-- BOTTOM END -->

</center>

<!-- Google Analytics Tracking -->
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-330539-2";
urchinTracker();
</script>

</body>
</html>
