<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
	<TITLE>Bollywood Movies: TAG_META_MOVIE_NAME Movie Review starring TAG_CAST_ACTOR_1 and TAG_CAST_ACTRESS_1, Hindi Movies Torrents and MP3 Downloads, Forthcoming</TITLE>
    <META NAME="keywords" CONTENT="bollywood movies, latest movie releases and reviews, movie reviews and rating for TAG_META_MOVIE_NAME, TAG_CAST_ACTOR_1, TAG_CAST_ACTRESS_1 TAG_CAST_ACTRESS_OTHERS, TAG_CAST_ACTOR_OTHERS TAG_MOVIE_MUSIC_BY, TAG_MOVIE_DIRECTED_BY, forthcoming, ratings, torrents downloads, mp3 songs downloads, movie trailers, soundtrack">
	<META NAME="description" CONTENT="Bollywood Movie reviews, movie trailers and ratings for latest and forthcoming release TAG_META_MOVIE_NAME starring TAG_CAST_ACTOR_1 and TAG_CAST_ACTRESS_1 with supporting role TAG_CAST_ACTRESS_OTHERS, TAG_CAST_ACTOR_OTHERS directed by TAG_MOVIE_DIRECTED_BY and music by TAG_MOVIE_MUSIC_BY. TAG_META_MOVIE_NAME MP3 soundtrack songs and movie downloads via torrent.">
	<META NAME="robots" CONTENT="index,follow">
	<META CONTENT="all" NAME="robots">
</head>

<link rel=stylesheet type="text/css" href="http://www.bollywoodmovies.us/css/bollywoodmovies.css">
<body bgcolor="#FFFFFF" text="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" link="#0000FF" vlink="#551a8b" alink="#990099">

<script type="text/javascript" src="http://www.bollywoodmovies.us/scripts/imagePopup.js"></script>

<!-- <script language="javascript" type="text/javascript" src="http://www.bollywoodmovies.us/misc/header.html"></script> -->

<!-- TOP START -->

<center>
<table border="1" cellspacing="0" cellpadding="0" bordercolor="white" id="Header Table">

<tr>
       <td width=150>
		   <A HREF="http://www.bollywoodmovies.us">
	   	   <IMG SRC="http://www.bollywoodmovies.us/images/bollywoodmovies_icon.jpg" 
		   ALT="Bollywood Movies News"
		   TITLE="Bollywood Movies News"
		   WIDTH="150" HEIGHT="75" BORDER="0"></A>
	   </td>
	   
       <td width=450 bordercolor="orange">
	   
	   <table bgcolor="white" border="0" cellspacing="0" cellpadding="0" bordercolor="orange">
	   <tr>
	   <td width=150 valign="top">
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us" 
	       TITLE="Bollywood Movies News, Picture Gallery">Home
         </A>
<br>
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/blog/index.html" 
	       TITLE="Bollywood Movies Blog">Blog
         </A>
<br>
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/news/news.html" 
	       TITLE="Bollywood Movies News">News
         </A>
<br>
 	     <A 
	       ALT="" 
		   TITLE="Bollywood Movies Feedback"
	       HREF="mailto:info@bollywoodmovies.us?subject=FEEDBACK: ">Feedback
         </A>
       </td>
	   <td width=150 valign="top">
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/actress/bollywood_actress.html" 
	       TITLE="Bollywood Movies Actresses, Biography, News, Picture Gallery, Indian, Hindi">Actresses
         </A>
<br>		 
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/actor/bollywood_actor.html" 
	       TITLE="Bollywood Movies Actor, Biography, News, Picture Gallery, Indian, Hindi">Actor
         </A>
<br>		 
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/movie_reviews/bollywood_movie_reviews.html" 
	       TITLE="Bollywood Latest and Forthcoming Movies Reviews">Movie Review
         </A>
<br>		 
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/movie_reviews/2006_bollywood_movies_releases_forthcoming.html" 
	       TITLE="Bollywood Movie Releases and Forthcoming for 2006">2006 Releases
         </A>
	   </td>
	   <td width=150 valign="top">
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/music_songs/music_songs.html" 
	       TITLE="Bollywood Movies, Hindi Songs">Songs
         </A>
<br>		 
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/contact_us.html" 
	       TITLE="Bollywood Movies Contact Us">Contact Us
         </A>
<br>		 
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/resources/resources.html" 
	       TITLE="Bollywood Movies Resources">Resources
         </A>
<br>		 
		 <a 
		   href="http://add.my.yahoo.com/rss?url=http://www.bollywoodmovies.us/rss/bollywoodmovies.xml">
		   <img herf= "" src="http://www.buyallgifts.com/rss/my-yahoo.gif" 
		   width="100" height="14" border="0" title="Bollywood Movies News, Actor, Actress" alt="Bollywood Movies News, Actor, Actress">
		 </a>
	   </td>
	   </tr>
	   </table>		   

	   </td>
       <td width=300 valign="center" align="center" bordercolor="orange">
<!-- SiteSearch Google -->
<!-- SiteSearch Google -->
<form method="get" action="http://www.google.com/custom" target="_top">
<table border="0" bgcolor="#ffffff">
<tr><td nowrap="nowrap" valign="top" align="left" height="32">
<a href="http://www.google.com/">
<img src="http://www.google.com/logos/Logo_25wht.gif" border="0" alt="Google" align="middle"></img></a>
<br/>
<input type="hidden" name="domains" value="www.bollywoodmovies.us"></input>
<input type="text" name="q" size="31" maxlength="255" value=""></input>
<input type="submit" name="sa" value="Search"></input>
</td></tr>
<tr>
<td nowrap="nowrap">
<table>
<tr>
<td>
<input type="radio" name="sitesearch" value=""></input>
<font size="-1" color="black">Web</font>
</td>
<td>
<input type="radio" name="sitesearch" value="www.bollywoodmovies.us" checked="checked"></input>
<font size="-1" color="black">www.bollywoodmovies.us</font>
</td>
</tr>
</table>
<input type="hidden" name="client" value="pub-1819491998461859"></input>
<input type="hidden" name="forid" value="1"></input>
<input type="hidden" name="channel" value="9628527609"></input>
<input type="hidden" name="ie" value="ISO-8859-1"></input>
<input type="hidden" name="oe" value="ISO-8859-1"></input>
<input type="hidden" name="safe" value="active"></input>
<input type="hidden" name="cof" value="GALT:#008000;GL:1;DIV:#336699;VLC:663399;AH:center;BGC:FFFFFF;LBGC:336699;ALC:0000FF;LC:0000FF;T:000000;GFNT:0000FF;GIMP:0000FF;FORID:1;"></input>
<input type="hidden" name="hl" value="en"></input>
</td></tr></table>
</form>
<!-- SiteSearch Google -->
<!-- SiteSearch Google -->
	   </td>
</tr>

<tr>
       <td width=775 colspan=3>
<!-- Main Menu -->
<script type="text/javascript" src="http://www.bollywoodmovies.us/menu/milonic_src.js"></script>	
<div class=milonic><a href="http://www.milonic.com/">JavaScript Menu, DHTML Menu Powered By Milonic</a></div>
<script	type="text/javascript">
if(ns4)_d.write("<scr"+"ipt type=text/javascript src=http://www.bollywoodmovies.us/menu/mmenuns4.js><\/scr"+"ipt>");		
  else _d.write("<scr"+"ipt type=text/javascript src=http://www.bollywoodmovies.us/menu/mmenudom.js><\/scr"+"ipt>"); 
</script>
<script type="text/javascript" src="http://www.bollywoodmovies.us/menu/menu_data.js"></script>
	   </td>
</tr>

<tr>
       <td width=775 height=25 colspan=3>
	   <!-- Dynamic Menu Cover up this -->
	   </td>
</tr>

</table>
<!-- TOP END -->



<!-- TABLE_START_1 -->
<table width=900 cellspacing="0" border="1" bordercolor="orange" id="TBL_HEADER_1">

<tr>
    <td width=900 colspan=3 align="center" bgcolor="#f8f8ff">
<!-- Google H1 Banner -->
<script type="text/javascript"><!--
google_ad_client = "pub-1819491998461859";
google_ad_width = 728;
google_ad_height = 90;
google_ad_format = "728x90_as";
google_ad_type = "text_image";
google_ad_channel ="4172043725";
google_color_border = "FFFFFF";
google_color_bg = "f8f8ff";
google_color_link = "0000FF";
google_color_url = "008000";
google_color_text = "000000";
//--></script>
<script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
	</td>
</tr>

</table>	
<!-- TABLE_END_1 -->


<!-- MIDDLE_START -->
<table width=900 align="center" cellspacing="0" border="1" bordercolor="white" id="Middle Table">

<tr>
  <td width=900 height=30 colspan=2 cellspacing="0" align="center" valign="top" bgcolor="white" BORDERCOLOR="white">
    <b>Bollywood Movie Cast, Songs and Reviews for TAG_TITLE_MOVIE_NAME</b>
  </td>
</tr>

  <!-- REVIEW_START -->
  <TR>
    <TD WIDTH=120 VALIGN="top" ALIGN="left" BORDER="1" BORDERCOLOR="white">
	<!-- Movie Picture -->
        <A HREF="#" 
		  onclick="ImagePopup('http://www.bollywoodmovies.us/movie_reviews/TAG_FILENAME_YEAR/pictures/TAG_IMAGE_NAME_01.jpg',500,500);return false;"> 
	   	  <IMG SRC="http://www.bollywoodmovies.us/movie_reviews/TAG_FILENAME_YEAR/pics/TAG_IMAGE_NAME_01.jpg" 
		  ALT="Bollywood Movies Reviews, TAG_ALT_MOVIE_NAME" 
		  TITLE="Bollywood Movies Reviews, TAG_TITLE_MOVIE_NAME" 
		  WIDTH="100" HEIGHT="100" BORDER="0">
        </A>
		<br>
	   <!-- Google Vertical Adlinks -->
<script type="text/javascript"><!--
google_ad_client = "pub-1819491998461859";
google_ad_width = 120;
google_ad_height = 90;
google_ad_format = "120x90_0ads_al_s";
google_ad_channel ="7755382583";
google_color_border = "FFFFFF";
google_color_bg = "f8f8ff";
google_color_link = "0000FF";
google_color_url = "008000";
google_color_text = "000000";
//--></script>
<script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
	</TD>
	
	<TD WIDTH=780 VALIGN="top" ALIGN="left" BORDER="1" BORDERCOLOR="white" bgcolor="white">
	<table>
	<tr>
	<td WIDTH=480 VALIGN="top">
	     <b>
 	     <A 
           ALT="" 
		   TITLE="Bollywood Movie Review, TAG_ALT_MOVIE_NAME"
	       HREF="http://www.bollywoodmovies.us/movie_reviews/TAG_FILENAME_YEAR/TAG_FILENAME_MOVIE_NAME.html">TAG_META_MOVIE_NAME (TAG_FILENAME_YEAR)
         </A>
	     </b>
		 <br>
		 <b><i>Release Date:</i></b> TAG_MOVIE_RELEASE_DATE
		 <br>
		 <br>
	     <b>Cast/Starring: </b>
		 <br>
	     <b>Actors: </b>
 	     <A 
           ALT="" 
		   TITLE="Bollywood Movie Review, TAG_CAST_ACTOR_1"
	       HREF="http://www.bollywoodmovies.us/actor/TAG_FILENAME_CAST_ACTOR_1/bollywood_TAG_FILENAME_CAST_ACTOR_1_photo_gallery_01.html">TAG_CAST_ACTOR_1
         </A>
		 , TAG_CAST_ACTOR_OTHERS
		 <br>
	     <b>Actress: </b>
 	     <A 
           ALT="" 
		   TITLE="Bollywood Movie Review, TAG_CAST_ACTRESS_1"
	       HREF="http://www.bollywoodmovies.us/actress/TAG_FILENAME_CAST_ACTRESS_1/bollywood_TAG_FILENAME_CAST_ACTRESS_1_photo_gallery_01.html">TAG_CAST_ACTRESS_1
         </A>
		 TAG_CAST_ACTRESS_OTHERS
		 <br>
  	     <br>
	     <b>Genre: </b> TAG_GENRE
  	     <br>
	     <b>Directed By: </b> TAG_MOVIE_DIRECTED_BY
  	     <br>
	     <b>Music By: </b> TAG_MOVIE_MUSIC_BY
  	     <br>
	     <b>Lyrics By: </b> TAG_MOVIE_LYRICS_BY
  	     <br>
	     <b>Ratings: </b> 
		   <IMG SRC="http://www.bollywoodmovies.us/images/stars_TAG_MOVIE_RATING.jpg" 
		        ALT="Bollywood Movies Rating for TAG_META_MOVIE_NAME"
		        TITLE="Bollywood Movies Rating for TAG_META_MOVIE_NAME"
		        BORDER="0">
	</td>
	
	<td>
<!-- Google Med Square Banner -->
<script type="text/javascript"><!--
google_ad_client = "pub-1819491998461859";
google_ad_width = 300;
google_ad_height = 250;
google_ad_format = "300x250_as";
google_ad_type = "text_image";
google_ad_channel ="1656331072";
google_color_border = "FFFFFF";
google_color_bg = "f8f8ff";
google_color_link = "0000FF";
google_color_url = "008000";
google_color_text = "000000";
//--></script>
<script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
	</td WIDTH=300>

	</tr>
	</table>
	
	</TD>
  </TR>
  <!-- REVIEW_END --> 

  <!-- BANNER_START -->
  <TR>
    <TD WIDTH=120 HEIGHT=20 VALIGN="top" ALIGN="left" BORDER="1" BORDERCOLOR="white">
	</TD>
	
	<TD WIDTH=780 VALIGN="top" ALIGN="left" BORDER="1" BORDERCOLOR="white" bgcolor="white">
	   <!-- fropper.com Button 234x60 -->
<a href="http://www.fropper.com/index.php?ptnr=el9re"><img src="http://www.fropper.com/partners/get-banner.php?banner_type=banners-buttons&banner_size=234x60" border="0"></a>

	   <!-- shaadi.com Button 234x60 -->
<a href="http://www.shaadi.com/ptnr.php?ptnr=bz2pr"><img src="http://www.shaadi.com/shaadi-rewards/get-banner.php?banner_type=buttons&banner_size=234x60" border=0></a>
	</TD>
  </TR>
  <!-- BANNER_END -->
  
  <!-- LINKS_START -->
  <TR>
    <TD WIDTH=120 HEIGHT=20 VALIGN="top" ALIGN="left" BORDER="1" BORDERCOLOR="white">
	  <b>Useful Links</b>
	</TD>
	
	<TD WIDTH=780 VALIGN="top" ALIGN="left" BORDER="1" BORDERCOLOR="white" bgcolor="#e6e6fa">
 	     <A 
           ALT="" 
		   TITLE="Maxim Magazine India Bollywood Stars"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/info/maxim_magazine.html">Maxim
         </A>
		 ...
 	     <A 
           ALT=""
		   TITLE="Bird Flu"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/info/bird_flu.html">Bird Flu
         </A>
		 ...
 	     <A 
           ALT=""
		   TITLE="Bollywood Concert"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/info/bollywood_concert.html">Bollywood Concert
         </A>
		 ...
 	     <A 
           ALT=""
		   TITLE="Calling Cards To India"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/info/calling_cards.html">Calling Cards
         </A>
		 ...
 	     <A 
           ALT=""
		   TITLE="Current Deals On Electornics"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/info/current_deals.html">Current Deals
         </A>
		 ...
 	     <A 
           ALT="" 
		   TITLE="Plasma LCD TV"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/info/plasma_lcd_tv.html">Plasma LCD TV
         </A>
		 ...
 	     <A 
           ALT="" 
		   TITLE="Shaadi Matrimonials, Indian Matrimonial, Wedding"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/info/shaadi_wedding.html">Shaadi Matrimonials
         </A>
		 ...
 	     <A 
           ALT=""
		   TITLE="Yoga
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/info/yoga.html">Yoga
         </A>
<!--
		 ...
 	     <A 
           ALT="" 
		   TITLE="ITEM_NAME"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/info/.html">ITEM_NAME
         </A>
-->		 
	</TD>
  </TR>
  <!-- LINKS_END -->

  <!-- REVIEW_START -->
  <TR>
    <TD WIDTH=120 HEIGHT=100 VALIGN="top" ALIGN="left" BORDER="1" BORDERCOLOR="white">
	  <b>Movie Review</b>
	</TD>
	
	<TD WIDTH=780 VALIGN="top" ALIGN="left" BORDER="1" BORDERCOLOR="white" bgcolor="white">
         TAG_MAIN_REVIEW_1
		 <br>
         TAG_MAIN_REVIEW_2
	</TD>
  </TR>
  <!-- REVIEW_END -->

  <!-- SYNOPSIS_START -->
  <TR>
    <TD WIDTH=120 VALIGN="top" ALIGN="left" BORDER="1" BORDERCOLOR="white">
	  <b>Movie Synopsis</b>
	</TD>
	
	<TD WIDTH=780 VALIGN="top" ALIGN="left" BORDER="1" BORDERCOLOR="white" bgcolor="white">
         TAG_MAIN_SYNOPSIS_1
	</TD>
  </TR>
  <!-- SYNOPSIS_END -->

  <!-- REVIEW_START -->
  <TR>
    <TD WIDTH=120 VALIGN="top" ALIGN="left" BORDER="1" BORDERCOLOR="white">
		<br>
	    <b>Movie Songs</b>
	</TD>
	
	<TD WIDTH=780 VALIGN="top" ALIGN="left" BORDER="1" BORDERCOLOR="white" bgcolor="white">
		 <br>
         TAG_MOVIE_SONG_1
		 <br>
         TAG_MOVIE_SONG_2
		 <br>
		 TAG_MOVIE_SONG_3
		 <br>
		 TAG_MOVIE_SONG_4
		 <p></p>
	</TD>
  </TR>
  <!-- REVIEW_END -->

  <!-- NEWS_START -->
  <TR>
	<TD WIDTH=900 VALIGN="top" ALIGN="center" BORDER="1" BORDERCOLOR="#e6e6fa" bgcolor="#e6e6fa" colspan=2>
	    <font face="courier new" color="#0000ff" size="3"><b>Latest News for Bollywood Movie TAG_META_MOVIE_NAME:</b></font>
	</TD>
  </TR>
  <!-- NEWS_END -->

  <!-- NEWS_START -->
  <TR>
	<TD WIDTH=900 VALIGN="top" ALIGN="left" BORDER="1" BORDERCOLOR="#e6e6fa" bgcolor="#f7f7f7" colspan=2>
         TAG_MOVIE_NEWS
	</TD>
  </TR>
  <!-- NEWS_END -->

</table>	
<!-- MIDDLE_END -->

<p></p>

<!-- MIDDLE START 2 -->
<table width=900 align="center" cellspacing="0" border="1" bordercolor="orange" id="Middle Table 2">

<!--
<tr bgcolor="white" bordercolor="white">
       <td width=900 height=25 align="left" colspan=2>
	   Google Adlinks were here...
	   </td>
</tr>
-->

<tr bordercolor="white">
       <td width=900 height=20 colspan=2>
	   
	   <!-- Torrent Downloads -->
	   <table width=100% bgcolor="white">
	     <tr>
		   <td width=25%>
		     <b>Free Movie Torrent Downloads:</b>
		   </td>
		   <td width=20%>
 	         <A 
               ALT="" 
		       TITLE="Bollywood Movie TAG_ALT_MOVIE_NAME Torrent Free Downloads"
			   TARGET="_blank"
	           HREF="http://www.google.com/custom?hl=en&lr=&ie=ISO-8859-1&oe=ISO-8859-1&safe=active&client=pub-1819491998461859&channel=9628527609&cof=FORID%3A1%3BGL%3A1%3BBGC%3AFFFFFF%3BT%3A%23000000%3BLC%3A%230000ff%3BVLC%3A%23663399%3BALC%3A%230000ff%3BGALT%3A%23008000%3BGFNT%3A%230000ff%3BGIMP%3A%230000ff%3BDIV%3A%23336699%3BLBGC%3A336699%3BAH%3Acenter%3B&domains=www.bollywoodmovies.us&q=TAG_TORRENT_HTML_1+bollywood+torrent&btnG=Search&sitesearch=">TAG_TORRENT_1
             </A>
		   </td>
		   <td width=20%>
 	         <A 
               ALT="" 
		       TITLE="Bollywood Movie TAG_ALT_MOVIE_NAME Torrent Free Downloads"
			   TARGET="_blank"
	           HREF="TAG_TORRENT_HTML_2">TAG_TORRENT_2
             </A>
		   </td>
		   <td width=20%>
 	         <A 
               ALT="" 
		       TITLE="Bollywood Movie TAG_ALT_MOVIE_NAME Torrent Free Downloads"
			   TARGET="_blank"
	           HREF="TAG_TORRENT_HTML_3">TAG_TORRENT_3
             </A>
		   <td width=20%>
 	         <A 
               ALT="" 
		       TITLE="Bollywood Movie TAG_ALT_MOVIE_NAME Torrent Free Downloads"
			   TARGET="_blank"
	           HREF="TAG_TORRENT_HTML_4">TAG_TORRENT_4
             </A>
		   </td>
		   </td>
		 </tr>
	   </table>
	   
	   </td>
</tr>

<tr bordercolor="white">
       <td width=900 height=20 colspan=2>
	   
	   <!-- Torrent Downloads -->
	   <table width=100% bgcolor="white">
	     <tr>
		   <td width=30%>
		     <b>Free Movie Songs MP3 Downloads:</b>
		   </td>
		   <td width=25%>
 	         <A 
               ALT="" 
	           TITLE="Bollywood Movie TAG_ALT_MOVIE_NAME Soundtrack and Music MP3 Torrent Free Downloads" 
			   TARGET="_blank"
	           HREF="http://www.google.com/custom?hl=en&lr=&ie=ISO-8859-1&oe=ISO-8859-1&safe=active&client=pub-1819491998461859&channel=9628527609&cof=FORID%3A1%3BGL%3A1%3BBGC%3AFFFFFF%3BT%3A%23000000%3BLC%3A%230000ff%3BVLC%3A%23663399%3BALC%3A%230000ff%3BGALT%3A%23008000%3BGFNT%3A%230000ff%3BGIMP%3A%230000ff%3BDIV%3A%23336699%3BLBGC%3A336699%3BAH%3Acenter%3B&domains=www.bollywoodmovies.us&q=TAG_MP3_HTML_1+bollywood+torrent&btnG=Search&sitesearch=">TAG_MP3_1
             </A>
		   </td>
		   <td width=25%>
 	         <A 
               ALT="" 
	           TITLE="Bollywood Movie TAG_ALT_MOVIE_NAME Soundtrack and Music MP3 Torrent Free Downloads" 
			   TARGET="_blank"
	           HREF="TAG_MP3_HTML_2">TAG_MP3_2
             </A>
		   </td>
		   <td width=25%>
 	         <A 
               ALT="" 
	           TITLE="Bollywood Movie TAG_ALT_MOVIE_NAME Soundtrack and Music MP3 Torrent Free Downloads" 
			   TARGET="_blank"
	           HREF="TAG_MP3_HTML_3">TAG_MP3_3
             </A>
		   </td>
		 </tr>
	   </table>
	   
	   </td>
</tr>

</table>
<!-- MIDDLE END 2 -->



<!-- BOTTOM START -->
<table width=900 cellspacing="0" border="1" bordercolor="orange" id="Footer Table">

<tr>
       <td align="left" valign="top" width=100% bgcolor="#f8f8ff" bordercolor="white" colspan=2>
<!-- Google Horizontal Banner -->
<script type="text/javascript"><!--
google_ad_client = "pub-1819491998461859";
google_ad_width = 728;
google_ad_height = 90;
google_ad_format = "728x90_as";
google_ad_type = "text_image";
google_ad_channel ="9247923290";
google_color_border = "FFFFFF";
google_color_bg = "f8f8ff";
google_color_link = "0000FF";
google_color_url = "008000";
google_color_text = "000000";
//--></script>
<script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
	   </td>
</tr>

<tr width=900 bordercolor="white">
       <td width=730 align="right">
	   <!-- Chitkia -->
<script type="text/javascript"><!--
ch_client = "mmbuyallgifts";
ch_width = 728;
ch_height = 90;
ch_color_border = "#cccccc";
ch_sid = "bm_moviereviews_h1_long_banner";
ch_non_contextual = 1;
var ch_queries = new Array( "bollywood", "music", "dvd", "mp3" );
var ch_selected=Math.floor((Math.random()*ch_queries.length));
ch_query = ch_queries[ch_selected];
//--></script>
<script  src="http://scripts.chitika.net/eminimalls/mm.js" type="text/javascript">
</script>
	   </td>
       <td width=150 align="left">
	   <!-- Google Firefox Downloads -->
<script type="text/javascript"><!--
google_ad_client = "pub-1819491998461859";
google_ad_width = 120;
google_ad_height = 60;
google_ad_format = "120x60_as_rimg";
google_cpa_choice = "CAAQn4Oy0QEaCKNo8-guCDanKI-293M";
//--></script>
<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
	   </td>
</tr>

<tr>
       <td align="left" valign="top" width=100% bgcolor="#f8f8ff" bordercolor="white" colspan=2>
<!-- Begin BidVertiser code -->
<SCRIPT LANGUAGE="JavaScript1.1" SRC="http://bdv.bidvertiser.com/BidVertiser.dbm?pid=15610&bid=60379"></SCRIPT>
<noscript><a href="http://www.bidvertiser.com">make money online</a></noscript>
<!-- End BidVertiser code --> 
	   </td>
</tr>

<tr width=900 bordercolor="white">
       <td width=730 align="right">
	   <!-- Chitkia -->
<script type="text/javascript"><!--
ch_client = "mmbuyallgifts";
ch_width = 728;
ch_height = 90;
ch_color_border = "#cccccc";
ch_sid = "bm_moviereviews_h2_long_banner";
ch_non_contextual = 1;
var ch_queries = new Array( "bollywood", "music", "dvd", "mp3" );
var ch_selected=Math.floor((Math.random()*ch_queries.length));
ch_query = ch_queries[ch_selected];
//--></script>
<script  src="http://scripts.chitika.net/eminimalls/mm.js" type="text/javascript">
</script>
	   </td>
       <td width=150 align="left">
	   <!-- Google Referral -->
<script type="text/javascript"><!--
google_ad_client = "pub-1819491998461859";
google_ad_width = 120;
google_ad_height = 60;
google_ad_format = "120x60_as_rimg";
google_cpa_choice = "CAAQxfay0gEaCMzHBA5utc7TKIHD93M";
//--></script>
<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
	   </td>
</tr>

<tr bordercolor="white">
       <td width=100% colspan=2>
   	   	   TAG_THIS_SITE_CONTAINS_NO
		   <br>
		   TAG_AD_WORDS
	   </td>
</tr>

<tr bordercolor="white">
       <td width=900 colspan=2>
	   <table>
	   <tr>
	   <td>
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/torrent/torrents_2006.html" 
	       TITLE="Bollywood Movies Songs MP3 Torrents">Torrents 2006
         </A>	   
	   </td>
	   <td>
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/torrent/torrents_2007.html" 
	       TITLE="Bollywood Movies Songs MP3 Torrents">Torrents 2007
         </A>	   
	   </td>
	   <td>
 	     <A TARGET="_blank"
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/info/calling_cards.html" 
	       TITLE="Calling Cards">Calling Cards
         </A>	   
	   </td>
	   <td>
 	     <A TARGET="_blank"
	       ALT="" 
	       HREF="http://bollywoodmovies.rediffblogs.com/" 
	       TITLE="Bollywood Blog">Blog Rediff
         </A>	   
	   </td>
	   <td>
 	     <A 
           ALT="" 
		   TITLE="Maxim Magazine India Bollywood Stars"
		   TARGET="_blank"
	       HREF="http://www.bollywoodmovies.us/info/maxim_magazine.html">Maxim
         </A>
	   </td>

	   </tr>
	   </table>
       </td> 
</tr>

<tr bordercolor="white">
       <td align="left" width=900 colspan=2>
	   <!-- www.bollywoodmovies.us links to main pages -->
	   <table bgcolor='orange'>
	   <tr>
	   <td width=175>
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us" 
	       TITLE="Bollywood Movies News, Picture Gallery">Bollywood Movies
         </A>
       </td>
	   <td width=75>
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/actress/bollywood_actress.html" 
	       TITLE="Bollywood Movies Actresses, Biography, News, Picture Gallery, Indian, Hindi">Actresses
         </A>
	   </td>
	   <td width=75>
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/actor/bollywood_actor.html" 
	       TITLE="Bollywood Movies Actor, Biography, News, Picture Gallery, Indian, Hindi">Actor
         </A>
	   </td>
	   <td width=135>
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/blog/index.html" 
	       TITLE="Bollywood Movies Blog">Bollywood Blog
         </A>
	   </td>
	   <td width=175>
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/news/news.html" 
	       TITLE="Bollywood Movies News">Bollywood News
         </A>
	   </td>
	   <td width=175>
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/forum/index.html" 
	       TITLE="Bollywood Movies Forum">Bollywood Forum
         </A>
	   </td>
	   <td width=75>
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/sports/index.html" 
	       TITLE="Sports News and Information, Cricket">Sports
         </A>
	   </td>
	   <td width=100>
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/contact_us.html" 
	       TITLE="Bollywood Movies Contact Us">Contact Us
         </A>
	   </td>
	   <td width=75>
 	     <A 
	       ALT="" 
	       HREF="http://www.bollywoodmovies.us/resources/resources.html" 
	       TITLE="Bollywood Movies Resources">Resources
         </A>
	   </td>
	   </tr>
	   </table>		   
<!-- ---------------------------------------------------------- -->
	   </td>
</tr>

<tr bordercolor="white">
       <td align="left" width=900 colspan=2>
<!-- ---------------------------------------------------------- -->
	   <!-- www.buyallgifts.com links to main pages -->
	   <table bgcolor='white'>
	   <tr>
	   <td width=125>
 	     <A TARGET="_blank"
	       ALT="" 
	       HREF="http://www.buyallgifts.com/home_decor/home_decorations.html" 
	       TITLE="Home Decorations, Garden Decoration, Office Decorations, Corporate Gifts Ideas">Home Decor
         </A>
	   </td>
	   <td width=125>
 	     <A TARGET="_blank"
	       ALT="" 
	       HREF="http://www.buyallgifts.com/garden_decor/garden_decorations.html" 
	       TITLE="Garden Decoration, Backyard Decorations, Lawn Accentss">Garden Decor
         </A>
	   </td>
	   <td width=135>
 	     <A TARGET="_blank"
	       ALT="" 
	       HREF="http://www.buyallgifts.com/animal/animal_figurines.html" 
	       TITLE="Home Decorations, Animal Figurines, Monkey, Wolves, Wolf, Elephant">Animal Figurines
         </A>
	   </td>
	   <td width=125>
 	     <A TARGET="_blank"
	       ALT="" 
	       HREF="http://www.buyallgifts.com/bird/bird_figurines.html" 
	       TITLE="Home Decorations, Bird Figurines, Eagle, Hummingbird, Doves, Roosters">Bird Figurines
         </A>
	   </td>
	   <td width=125>
 	     <A TARGET="_blank"
	       ALT="" 
	       HREF="http://www.buyallgifts.com/dragon/dragon_statues_figurines.html" 
	       TITLE="Dragon Figurines, Dragon Statues, Dragon Sculptures, Chinese Pewter Dragon">Dragon Figurines
         </A>
	   </td>
	   <td width=100>
 	     <A TARGET="_blank"
	       ALT="" 
	       HREF="http://www.buyallgifts.com/candleholders/candleholders.html" 
	       TITLE="Candle Holders, Candleholder, Wrought Iron, Candelabra">Candleholders
         </A>
	   </td>
	   <td width=75>
 	     <A TARGET="_blank"
	       ALT="" 
	       HREF="http://www.buyallgifts.com/fountains/fountains.html" 
	       TITLE="Garden Fountains, Water Fountains, Fountain, Desk Fountain">Fountain
         </A>
	   </td>
	   <td width=75>
 	     <A TARGET="_blank"
	       ALT="" 
	       HREF="http://www.buyallgifts.com/mirrors/mirrors.html" 
	       TITLE="mirror, bathroom mirrors, wall mirrors, decorative mirrors">Mirrors
         </A>
	   </td>
	   <td width=75>
 	     <A TARGET="_blank"
	       ALT="" 
	       HREF="http://www.buyallgifts.com/seasonal/christmas/christmas_gifts.html" 
	       TITLE="christmas gifts, snowman, christmas gift ideas">Christmas
         </A>
	   </td>
	   </tr>
	   </table>		   
<!-- ---------------------------------------------------------- -->
	   </td>
</tr>

<tr bordercolor="white">
       <td align="left" width=900 colspan=2>
<!-- ---------------------------------------------------------- -->
	   <!-- store.buyallgifts.com links to main pages -->
	   <table bgcolor='green'>
	   <tr>
	   <td width=125>
 	     <A TARGET="_blank"
	       ALT="" 
	       HREF="http://store.buyallgifts.com/homedecor.html" 
	       TITLE="Home Decorations, Garden Decoration, Office Decorations, Corporate Gifts Ideas">Home Decor
         </A>
	   </td>
	   <td width=125>
 	     <A TARGET="_blank"
	       ALT="" 
	       HREF="http://store.buyallgifts.com/gardendecor.html" 
	       TITLE="Garden Decoration, Backyard Decorations, Lawn Accentss">Garden Decor
         </A>
	   </td>
	   <td width=125>
 	     <A TARGET="_blank"
	       ALT="" 
	       HREF="http://store.buyallgifts.com/inthewild.html" 
	       TITLE="Home Decorations, Animal Figurines, Monkey, Wolves, Wolf, Elephant">Animal Figurines
         </A>
	   </td>
	   <td width=125>
 	     <A TARGET="_blank"
	       ALT="" 
	       HREF="http://store.buyallgifts.com/birdfigurines.html" 
	       TITLE="Home Decorations, Bird Figurines, Eagle, Hummingbird, Doves, Roosters">Bird Figurines
         </A>
	   </td>
	   <td width=125>
 	     <A TARGET="_blank"
	       ALT="" 
	       HREF="http://store.buyallgifts.com/dragon.html" 
	       TITLE="Dragon Figurines, Dragon Statues, Dragon Sculptures, Chinese Pewter Dragon">Dragon Figurines
         </A>
	   </td>
	   <td width=100>
 	     <A TARGET="_blank"
	       ALT="" 
	       HREF="http://store.buyallgifts.com/candleholders.html" 
	       TITLE="Candle Holders, Candleholder, Wrought Iron, Candelabra">Candleholders
         </A>
	   </td>
	   <td width=75>
 	     <A TARGET="_blank"
	       ALT="" 
	       HREF="http://store.buyallgifts.com/fountain.html" 
	       TITLE="Garden Fountains, Water Fountains, Fountain, Desk Fountain">Fountain
         </A>
	   </td>
	   <td width=75>
 	     <A TARGET="_blank"
	       ALT="" 
	       HREF="http://store.buyallgifts.com/wallmirrors.html" 
	       TITLE="mirror, bathroom mirrors, wall mirrors, decorative mirrors">Mirrors
         </A>
	   </td>
	   <td width=75>
 	     <A TARGET="_blank"
	       ALT="" 
	       HREF="http://store.buyallgifts.com/christmasitems.html" 
	       TITLE="christmas gifts, snowman, christmas gift ideas">Christmas
         </A>
	   </td>
	   </tr>
	   </table>		   
<!-- ---------------------------------------------------------- -->
	   </td>
</tr>

<tr bordercolor="white">
    <td align="center" width=100% colspan=2>
<!-- <script language="javascript" type="text/javascript" src="http://www.bollywoodmovies.us/misc/footer.html"></script> -->	
<IFRAME SRC="http://www.bollywoodmovies.us/misc/iframe_footer.html" WIDTH=700 HEIGHT=100 FRAMEBORDER=0 SCROLLING=YES>
</IFRAME>
	</td>
</tr>

</table>

<!-- BOTTOM END -->

</center>

</body>
</html>
