<!-- Music Director -->
<A ALT="" TITLE="Himesh Reshammiya" HREF="http://www.bollywoodmovies.us/music_director/himesh_reshammiya/bollywood_himesh_reshammiya_filmography.html">Himesh Reshammiya</A>

<A ALT="" TITLE="Anu Malik" HREF="http://www.bollywoodmovies.us/music_director/anu_malik/bollywood_anu_malik_filmography.html">Anu Malik</A>

<A ALT="" TITLE="Shekhar Ravjiani" HREF="http://www.bollywoodmovies.us/music_director/shekhar_ravjiani/bollywood_shekhar_ravjiani_filmography.html">Shekhar Ravjiani</A>
<A ALT="" TITLE="Vishal Dadlani" HREF="http://www.bollywoodmovies.us/music_director/vishal_dadlani/bollywood_vishal_dadlani_filmography.html">Vishal Dadlani</A>

<A ALT="" TITLE="Pritam" HREF="http://www.bollywoodmovies.us/music_director/pritam/bollywood_pritam_filmography.html">Pritam</A>

<!-- LYRICS -->
<A ALT="" TITLE="Sameer" HREF="http://www.bollywoodmovies.us/lyrics/sameer/bollywood_sameer_filmography.html">Sameer</A>

