<!-- FOR Index.html page -->

      <!-- REVIEW_START_START -->
      <tr HEIGHT=40 bgcolor="#FFFACD"> 
        <td WIDTH=100% VALIGN="center" align="left" valign="center"> 
          <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
 	     <A 
           ALT="" 
		   TITLE="Bollywood Movie Review for TAG_META_MOVIE_NAME"
	       HREF="http://www.bollywoodmovies.us/movie_reviews/TAG_FILENAME_YEAR/TAG_FILENAME_MOVIE_NAME.html">TAG_META_MOVIE_NAME (TAG_FILENAME_YEAR)
         </A>
		 <br>
		 Cast: 
 	     <A 
           ALT="" 
		   TITLE="Bollywood Movie Review, TAG_CAST_ACTOR_1"
	       HREF="http://www.bollywoodmovies.us/actor/TAG_FILENAME_CAST_ACTOR_1/bollywood_TAG_FILENAME_CAST_ACTOR_1_photo_gallery_01.html">TAG_CAST_ACTOR_1
         </A>
		 , 
 	     <A 
           ALT="" 
		   TITLE="Bollywood Movie Review, TAG_CAST_ACTRESS_1"
	       HREF="http://www.bollywoodmovies.us/actress/TAG_FILENAME_CAST_ACTRESS_1/bollywood_TAG_FILENAME_CAST_ACTRESS_1_photo_gallery_01.html">TAG_CAST_ACTRESS_1
         </A>
        </td>
      </tr>
      <!-- REVIEW_START_END -->

<p></p>

<!-- FOR bollywood_movie_reviews.html page -->


  <!-- REVIEW_START -->
  <TR>
    <TD WIDTH=100 VALIGN="top" ALIGN="left" BORDER="1" BORDERCOLOR="orange">
	<!-- Movie Picture -->
        <A HREF="#" 
		  onclick="ImagePopup('http://www.bollywoodmovies.us/movie_reviews/TAG_FILENAME_YEAR/pictures/TAG_FILENAME_MOVIE_NAME_01.jpg',500,500);return false;"> 
	   	  <IMG SRC="http://www.bollywoodmovies.us/movie_reviews/TAG_FILENAME_YEAR/pics/TAG_FILENAME_MOVIE_NAME_01.jpg" 
		  ALT="Bollywood Movies Reviews, TAG_META_MOVIE_NAME" 
		  TITLE="Bollywood Movies Reviews, TAG_META_MOVIE_NAME" 
		  WIDTH="100" HEIGHT="100" BORDER="0">
        </A>
	</TD>
	
	<TD WIDTH=800 VALIGN="top" ALIGN="left" BORDER="1" BORDERCOLOR="green" bgcolor="#ffe4b5">
	     <b>
 	     <A 
           ALT="" 
		   TITLE="Bollywood Movie Review, TAG_META_MOVIE_NAME"
	       HREF="http://www.bollywoodmovies.us/movie_reviews/TAG_FILENAME_YEAR/TAG_FILENAME_MOVIE_NAME.html">TAG_META_MOVIE_NAME (TAG_FILENAME_YEAR)
         </A>
	     </b>
		 <br>
		 <b><i>Release Date:</i></b> TAG_MOVIE_RELEASE_DATE
		 <br>
	     <b>Cast/Starring: </b>
 	     <A 
           ALT="" 
		   TITLE="Bollywood Movie Review, TAG_CAST_ACTOR_1"
	       HREF="http://www.bollywoodmovies.us/actor/TAG_FILENAME_CAST_ACTOR_1/bollywood_TAG_FILENAME_CAST_ACTOR_1_photo_gallery_01.html">TAG_CAST_ACTOR_1
         </A>
		 , 
 	     <A 
           ALT="" 
		   TITLE="Bollywood Movie Review, TAG_CAST_ACTRESS_1"
	       HREF="http://www.bollywoodmovies.us/actress/TAG_FILENAME_CAST_ACTRESS_1/bollywood_TAG_FILENAME_CAST_ACTRESS_1_photo_gallery_01.html">TAG_CAST_ACTRESS_1
         </A>
		 TAG_CAST_ACTRESS_OTHERS
  	     <br>
	     <b>Genre: </b> TAG_GENRE
  	     <br>
	     <b>Directed By: </b> TAG_MOVIE_DIRECTED_BY
  	     <br>
	     <b>Music By: </b> TAG_MOVIE_MUSIC_BY
  	     <br>
	     <b>Lyrics By: </b> TAG_MOVIE_LYRICS_BY
  	     <br>
	     <b>Ratings: </b> TAG_MOVIE_RATING
	</TD>
  </TR>
  <!-- REVIEW_END -->

  <! -- Movie Review Index Link -->
  
<!-- TABLE_MOVIE_START -->
<table width=100%>
  <tr>
    <td width=35% valign="top" align="left" bgcolor="#f0f8ff">
 	     <A 
           ALT="" 
		   TITLE="Bollywood Movie Review, TAG_META_MOVIE_NAME"
	       HREF="http://www.bollywoodmovies.us/movie_reviews/TAG_FILENAME_YEAR/TAG_FILENAME_MOVIE_NAME.html">TAG_META_MOVIE_NAME (TAG_FILENAME_YEAR)
         </A>
	</td>
    <td width=35% valign="top" align="left" bgcolor="#f0f8ff">
 	     <A 
           ALT="" 
		   TITLE="Bollywood Movie Review, TAG_CAST_ACTOR_1"
	       HREF="http://www.bollywoodmovies.us/actor/TAG_FILENAME_CAST_ACTOR_1/bollywood_TAG_FILENAME_CAST_ACTOR_1_photo_gallery_01.html">TAG_CAST_ACTOR_1
         </A>
		 , 
 	     <A 
           ALT="" 
		   TITLE="Bollywood Movie Review, TAG_CAST_ACTRESS_1"
	       HREF="http://www.bollywoodmovies.us/actress/TAG_FILENAME_CAST_ACTRESS_1/bollywood_TAG_FILENAME_CAST_ACTRESS_1_photo_gallery_01.html">TAG_CAST_ACTRESS_1
         </A>
	</td>
    <td width=30% valign="top" align="left" bgcolor="#f0f8ff">
	TAG_MOVIE_DIRECTED_BY, TAG_MOVIE_MUSIC_BY
	</td>
  </tr>
</table>	
<!-- TABLE_MOVIE_END -->

<!-- FOR torrent.html page -->

<!-- TABLE_MOVIE_TORRENT_START -->
<table width=100%>
  <tr>
    <td width=35% valign="top" align="left" bgcolor="#f0f8ff">
 	     <A 
           ALT="" 
		   TITLE="Bollywood Movie Review, TAG_META_MOVIE_NAME"
	       HREF="http://www.bollywoodmovies.us/movie_reviews/TAG_FILENAME_YEAR/TAG_FILENAME_MOVIE_NAME.html">TAG_META_MOVIE_NAME (TAG_FILENAME_YEAR)
         </A>
	</td>
    <td width=35% valign="top" align="left" bgcolor="#f0f8ff">
 	     <A 
           ALT="" 
		   TITLE="Bollywood Movie Review, TAG_CAST_ACTOR_1"
	       HREF="http://www.bollywoodmovies.us/actor/TAG_FILENAME_CAST_ACTOR_1/bollywood_TAG_FILENAME_CAST_ACTOR_1_photo_gallery_01.html">TAG_CAST_ACTOR_1
         </A>
		 , 
 	     <A 
           ALT="" 
		   TITLE="Bollywood Movie Review, TAG_CAST_ACTRESS_1"
	       HREF="http://www.bollywoodmovies.us/actress/TAG_FILENAME_CAST_ACTRESS_1/bollywood_TAG_FILENAME_CAST_ACTRESS_1_photo_gallery_01.html">TAG_CAST_ACTRESS_1
         </A>
	</td>
    <td width=30% valign="top" align="left" bgcolor="#f0f8ff">
	TAG_MOVIE_DIRECTED_BY, TAG_MOVIE_MUSIC_BY
	</td>
  </tr>
</table>	
<!-- TABLE_MOVIE_TORRENT_END -->
